<div id="corpo_promovido" class="border">
    <div id="promovido">
        <div id="promovido1">
            <h6 id="plv_promovido"><small>Promovido</small></h6>
        </div>
        <div id="promovido2">
            <img src="/assets/imagens/icone/icone_promovido.png" id="icone_promivido">
        </div>
    </div>
    <div id="anuncios_promovido">
        <a routerLink="/Notificacao-Single">
            <div class="anuncio">
                <div class="anuncio1"><img src="/assets/imagens/posts/foto01_anuncio.png" class="foto_anuncio"></div>
                <div class="anuncio2">
                    <span class="pvl_anuncio">Develop new skills
                        <br><small class="subtexto_anuncio">Millions of members use LinkedIn
                            Learining. Unlock your free access today.
                        </small>
                    </span>
                    <img src="/assets/imagens/icone/icone_anuncio.png" class="icon_anuncio">
                </div>
            </div>
        </a>

        <div class="anuncio">
            <a routerLink="/Notificacao-Single">
                <div class="anuncio1">
                    <img src="/assets/imagens/posts/foto02_anuncio.png" class="foto_anuncio">
                </div>
                <div class="anuncio2">
                    <span class="pvl_anuncio">MBA Business Intelligence
                        <br><small class="subtexto_anuncio">100% Online e com Nota Máxima no MEC, a partir de 12x de
                            R$99,99.
                        </small>
                    </span>
                    <img src="/assets/imagens/icone/icone_anuncio.png" class="icon_anuncio">
                </div>
            </a>
        </div>

        <div class="anuncio">
            <a routerLink="/Notificacao-Single">
                <div class="anuncio1">
                    <img src="/assets/imagens/posts/foto3_anuncio.png" class="foto_anuncio">
                </div>
                <div class="anuncio2">
                    <span class="pvl_anuncio">Convite do LinkedIn <br>
                        <small class="subtexto_anuncio">Anuncieno LinkedIn. Conquiste novos clientes.Experimente
                            agora</small>
                    </span>
                    <img src="/assets/imagens/icone/icone_anuncio.png" class="icon_anuncio">
                </div>
            </a>
        </div>
    </div>
</div>