<app-cabecalho></app-cabecalho>
<div id="hashtags_rede">
    <div id="caixa_hashtags1_rede">
        <div id="caixa1_hashtags_rede" class="shadow">
            <h6 id="pvl_siga_novos_hashtags_rede">Siga novos pontos de vista</h6>
            <h6 id="pvl_siga_novos_hashtags_rede">0 seguindo</h6>
            <h6 id="pvl_siga_novos_hashtags_rede">0 seguidores</h6>
        </div>
    </div>
    <div id="caixa_hashtags2_rede">
        <div id="caixa2_hashtags_rede">
            <div id="filtro1_hashtags_rede">
                <h6 id="plv_filtrar_hashtags_rede"><small>Filtrar por <b>Hashtags</b></small></h6>
            </div>
            <div id="filtro2_hashtags_rede">
                <img src="/assets/imagens/icone/icone_sair2.png" id="icone1_hashtags_rede">
                <img src="/assets/imagens/icone/icone_pessoas_red.png" id="icone2_hashtags_rede">
            </div>
            <div id="caixa_lista_seguidores_hashtags_rede">
                <div id="caixa_lista_hashtags_rede">
                    <div id="caixa1_lista_hashtags_rede">
                        <h6 id="plv_nao_seguindo_hashtags_rede"><small>Parece que você ainda não está seguindo ninguém.</small></h6>
                    </div>
                    <div id="caixa2_lista_hashtags_rede">
                        <img src="/assets/imagens/posts/foto_pessoas_rede.png" id="foto_hashtags_rede">
                    </div>
                    <div id="caixa3_lista_hashtags_rede">
                        <div id="botao_seguir_pontos_vista_hashtags_rede">
                            <h6 id="pvl_seguir_botao_hashtags_rede">Siga novos pontos de vista</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
