<app-cabecalho></app-cabecalho>
<div id="corpo_notificacao_single">
    <div id="mg-1-notificaoes-single"></div>

    <div id="caixa_centro_notificacoes_single">
        <div id="caixa1_notificacoes_single">
            <div id="single1">
                <img src="/assets/imagens/foto1-notificacoes-single.jpg" id="foto1_notificacoes_single">
            </div>
            <div id="single2">
                <h6 id="txt_noticias_notificacoes_single">
                    <small>
                        terça-feira, 29 de março <br>
                        <b id="nm_noticias_notificacoes_single"> Boletim Diário: principais manchetes, do LinkedIn
                            Notícias </b> <br>
                        Carlos, confira as notícias de hoje
                    </small>
                </h6>
            </div>
        </div>

        <div id="caixa2_notificacoes_single">
            
            <div id="lista_noticias_notificacoes_single">
                <a routerLink="/Noticias-Notificações">
                <div class="noticias1">
                    <img src="/assets/imagens/foto2_notificacoes_single.jpg" class="fotos_notificacoes_single">
                </div>
                <div class="noticias2">
                    <div class="caixa_titulo_notificacoes">
                        <div class="txt1">
                            <h5 class="txt_titulo_notificacoes_single">Governo demite Joaquim Silva e Luna do comando da
                                Petrobras</h5>
                        </div>
                        <div class="txt2">
                            <div id="botao_compartilhar_notificacoes_single">
                                <h6 class="plv_compartilhar"><img src="/assets/imagens/icone_compartilhar.png" alt="">
                                    Compartilhar</h6>
                            </div>
                        </div>
                    </div>
                    <div id="caixa_txt_noticias_notificacoes_single">
                        <h6 class="txt_noticias_notificacoes_single"><small>Economista Adriano Pires foi indicado para a
                                presidência da estatal, e <br> precisará ser confirmado por acionistas em
                                assembleia.</small></h6>
                    </div>
                    <div id="caixa_leia_mais_notificacoes_single">
                        <h6 class="leia_mais_notificacoes_single">Leia mais sobre essa noticia</h6>
                    </div>
                    <div id="caixa_oq_pessoas_falam_notificacoes_single">
                        <h6 id="plv_oq_pessoas_falam_notificacoes_single"><small>O que as pessoas estão falando</small>
                        </h6>
                        
                        <h6><img src="/assets/imagens/foto1-notificacoes-single.jpg" id="foto3_notificacoes_single">
                            <small id="text_oq_pessoas_falam_notificacoes_single">O general da reserva Joaquim Silva e Luna foi demitido pelo <br> presidente Jair Bolsonaro do comando da Petrobras na noite de</small>
                        </h6>
                    </div>
                </div>
                </a>
            </div>


            <div id="lista_noticias_notificacoes_single">
                <a routerLink="/Noticias-Notificações">
                <div class="noticias1">
                    <img src="/assets/imagens/foto4_notificacao_single.jpg" class="fotos_notificacoes_single">
                </div>
                <div class="noticias2">
                    <div class="caixa_titulo_notificacoes">
                        <div class="txt1">
                            <h5 class="txt_titulo_notificacoes_single">Brasil é líder em ranking sobre percepção da inflação</h5>
                        </div>
                        <div class="txt2">
                            <div id="botao_compartilhar_notificacoes_single">
                                <h6 class="plv_compartilhar"><img src="/assets/imagens/icone_compartilhar.png" alt="">
                                    Compartilhar</h6>
                            </div>
                        </div>
                    </div>
                    <div id="caixa_txt_noticias_notificacoes_single">
                        <h6 class="txt_noticias_notificacoes_single"><small>Com uma diferença de mais de 30 pontos percentuais com os dados <br> oficiais, a sensação da alta dos preços atingiu 43%</small></h6>
                    </div>
                    <div id="caixa_leia_mais_notificacoes_single">
                        <h6 class="leia_mais_notificacoes_single">Leia mais sobre essa noticia</h6>
                    </div>
                    <div id="caixa_oq_pessoas_falam_notificacoes_single">
                        <h6 id="plv_oq_pessoas_falam_notificacoes_single"><small>O que as pessoas estão falando</small>
                        </h6>
                        
                        <h6><img src="/assets/imagens/foto4-2_notificacao_single.jpg" id="foto3_notificacoes_single">
                            <small id="text_oq_pessoas_falam_notificacoes_single">A percepção do consumidor brasileiro é a que mais se descola dos <br> dados oficiais da inflação. O desafio do varejista é conhecer os</small>
                        </h6>
                    </div>
                </div>
                </a>
            </div>


            <div id="lista_noticias_notificacoes_single">
                <a routerLink="/Noticias-Notificações">
                <div class="noticias1">
                    <img src="/assets/imagens/foto5_notificacao-single.jpg" class="fotos_notificacoes_single">
                </div>
                <div class="noticias2">
                    <div class="caixa_titulo_notificacoes">
                        <div class="txt1">
                            <h5 class="txt_titulo_notificacoes_single">Com preços atraentes, atacarejo <br> cresce em ano de queda para <br> comércio de alimentos</h5>
                        </div>
                        <div class="txt2">
                            <div id="botao_compartilhar_notificacoes_single">
                                <h6 class="plv_compartilhar"><img src="/assets/imagens/icone_compartilhar.png" alt="">
                                    Compartilhar</h6>
                            </div>
                        </div>
                    </div>
                    <div id="caixa_txt_noticias_notificacoes_single">
                        <h6 class="txt_noticias_notificacoes_single"><small>Segmento de consumo teve alta de 10% em 2021, enquanto que varejo <br> alimentar mais amplo enfrentou retração.</small></h6>
                    </div>
                    <div id="caixa_leia_mais_notificacoes_single">
                        <h6 class="leia_mais_notificacoes_single">Leia mais sobre essa noticia</h6>
                    </div>
                    <div id="caixa_oq_pessoas_falam_notificacoes_single">
                        <h6 id="plv_oq_pessoas_falam_notificacoes_single"><small>O que as pessoas estão falando</small>
                        </h6>
                        
                        <h6><img src="/assets/imagens/foto5-2_notificacao-single.jpg" id="foto3_notificacoes_single">
                            <small id="text_oq_pessoas_falam_notificacoes_single">O general da reserva Joaquim Silva e Luna foi demitido pelo <br> presidente Jair Bolsonaro do comando da Petrobras na noite de</small>
                        </h6>
                    </div>
                </div>
                </a>
            </div>


            <div id="lista_noticias_notificacoes_single">
                <a routerLink="/Noticias-Notificações">
                <div class="noticias1">
                    <img src="/assets/imagens/foto7-notificacoes-single.jpg" class="fotos_notificacoes_single">
                </div>
                <div class="noticias2">
                    <div class="caixa_titulo_notificacoes">
                        <div class="txt1">
                            <h5 class="txt_titulo_notificacoes_single">Milton Ribeiro, ministro da <br> Educação, é exonerado do cargo</h5>
                        </div>
                        <div class="txt2">
                            <div id="botao_compartilhar_notificacoes_single">
                                <h6 class="plv_compartilhar"><img src="/assets/imagens/icone_compartilhar.png" alt="">
                                    Compartilhar</h6>
                            </div>
                        </div>
                    </div>
                    <div id="caixa_txt_noticias_notificacoes_single">
                        <h6 class="txt_noticias_notificacoes_single"><small>Saída ocorre após denúncias de esquema para obtenção de verbas ilícitas <br> na pasta.</small></h6>
                    </div>
                    <div id="caixa_leia_mais_notificacoes_single">
                        <h6 class="leia_mais_notificacoes_single">Leia mais sobre essa noticia</h6>
                    </div>
                    <div id="caixa_oq_pessoas_falam_notificacoes_single">
                        <h6 id="plv_oq_pessoas_falam_notificacoes_single"><small>O que as pessoas estão falando</small>
                        </h6>
                        
                        <h6><img src="/assets/imagens/foto1-notificacoes-single.jpg" id="foto3_notificacoes_single">
                            <small id="text_oq_pessoas_falam_notificacoes_single">
                                O ministro da Educação, Milton Ribeiro, foi exonerado do cargo <br> nesta segunda-feira, 28, após uma reunião com o presidente Jair</small>
                        </h6>
                    </div>
                </div>
                </a>
            
            </div>


            <div id="lista_noticias_notificacoes_single">
                <a routerLink="/Noticias-Notificações">
                <div class="noticias1">
                    <img src="/assets/imagens/foto8-notificacoes-single.jpg" class="fotos_notificacoes_single">
                </div>
                <div class="noticias2">
                    <div class="caixa_titulo_notificacoes">
                        <div class="txt1">
                            <h5 class="txt_titulo_notificacoes_single">Ucrânia: últimas notícias</h5>
                        </div>
                        <div class="txt2">
                            <div id="botao_compartilhar_notificacoes_single">
                                <h6 class="plv_compartilhar"><img src="/assets/imagens/icone_compartilhar.png" alt="">
                                    Compartilhar</h6>
                            </div>
                        </div>
                    </div>
                    <div id="caixa_txt_noticias_notificacoes_single">
                        <h6 class="txt_noticias_notificacoes_single"><small>As últimas atualizações sobre a guerra na Ucrânia, compiladas pelo time <br> do LinkedIn Notícias.</small></h6>
                    </div>
                    <div id="caixa_leia_mais_notificacoes_single">
                        <h6 class="leia_mais_notificacoes_single">Leia mais sobre essa noticia</h6>
                    </div>
                    <div id="caixa_oq_pessoas_falam_notificacoes_single">
                        <h6 id="plv_oq_pessoas_falam_notificacoes_single"><small>O que as pessoas estão falando</small>
                        </h6>
                        
                        <h6><img src="/assets/imagens/foto8-2-notificacoes-single.jpg" id="foto3_notificacoes_single">
                            <small id="text_oq_pessoas_falam_notificacoes_single">
                                Dirigente ucraniano também disse que só será possível discutir o <br> fim da guerra em uma reunião com a presença do presidente russo</small>
                        </h6>
                    </div>
                </div>
                </a>
            </div>

        </div>
        <div id="caixa3_notificacoes_single">
            <img src="/assets/imagens/foto9_notificacoes_single.png">
            <h6 id="plv_principais_noticias">Você já está por dentro das principais notícias de hoje <br>
            <small id="plv_tenha_bom_dia">Tenha um bom dia</small></h6>
        </div>
    </div>
    <div id="mg-2-notificaoes-single"></div>
</div>