<div id="corpo_cadastro4">
    <div id="caixa_cabeçalho2_cadastro4">
        <div id="caixa_imagem_cadastro4">
            <img src="/assets/imagens/icone_cadastro1.png" id="icone_cadastro4">
        </div>
        <h2 id="txt_cadastro4"><small>Seu perfil ajuda você a descobrir novas pessoas e <br> oportunidades</small></h2>
    </div>
    <div id="caixa_corpo_cadastro4">
        <div id="caixa_cadastro4">
            <div id="caixa_inputs_cadastro4">
                <div class="caixa_input_cadastro4">
                    <h6 id="pvl_nome_cadastro4"><small>Cargo mais recente *</small></h6>
                    <input type="email" class="form-control" class="input_cadastro4">
                </div>
                <div class="caixa_input_cadastro4"></div>
                <div id="caixa_botao_continuar">
                    <a routerLink="/Dados4">
                        <div id="botao_continuar_cadastro4">
                            <a routerLink="/Dados3">
                                <h6 id="plv_continuar_cadastro4">AVANÇAR</h6>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>