<app-cabecalho></app-cabecalho>
<div id="corpo_minhas_vagas">
    <div id="minha1">
        <div id="caixa1_minhas_vagas">
            <div id="vaga01">
                <img src="/assets/imagens/icone1_vaga.png" id="icone_minhas_vagas">
            </div>
            <div id="vaga02">
                <h6 id="pvl_meus_itens">Meus itens</h6>
            </div>
        </div>
    </div>
    <div id="minha2">
        <div id="caixa2_minhas_vagas">
            <div id="caixa1_minhas_vagas2">
                <h3 id="plv_minhas_vagas"><small> Minhas vagas</small></h3>
                <div id="botao_salvas_minhas_vagas">
                    <h6 id="plv_salvas_botao_minhas_vagas">Salvas</h6>
                </div>
            </div>
            <div id="caixa2_minhas_vagas2">
                <img src="/assets/imagens/foto_minhas_vagas.png" id="foto_minhas_vagas">
            </div>
            <div id="caixa3_txt_minhas_vagas">
                <h5 id="txt_minhas_vagas">Comece a salvar vagas que são do seu interesse</h5>
                <div id="caixa_botao_procure_vaga">
                    <div id="botao_procure_vaga">
                        <h6 id="plv_botao_procure_vaga">Procure vaga para mim</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>