<div id="corpo_recomendacao_vaga">
    <div class="caixa_remendacao_vaga">
        <div id="caixa_txt_recomentacao_vaga">
            <h6 id="plv_recomentacao_vaga">Recomendações para você
                <br><small id="subtxt_recomentacao_vaga">Com base no seu perfil e histórico de pesquisas</small>
            </h6>
        </div>
        <div id="caixa1_empresas_recomendacao_vaga">
            <div class="recomendacao1"><img src="/assets/imagens/foto1_empresa_vaga.png" class="foto_empresa1_vaga">
            </div>
            <div class="recomendacao2">
                <a routerLink="/Vaga-Trabalho">
                    <div class="caixa_txt_recomendacao_vaga">
                        <h6 class="txt_descricao_vaga">Desenvolverdor Frontend - HTML/CSS Jr. <br></h6>
                    </div>
                    <div class="caixa_subtext_recomendacao_vaga">
                        <small class="subtxt_descricao_vaga">Revelo Brasil<br>
                            Campinas, São Paulo, Brasil</small>
                    </div>
                    <div class="caixa_recrutando_vaga">
                        <img src="/assets/imagens/icone_empresa_vaga.png" class="icone_empresa_vaga"><small
                            class="plv_recrutando_vaga">Recrutando agora</small>
                    </div>
                    <div class="caixa_tempo_anuncio_vaga">
                        <small class="tempo_recomendacao_vaga">Há 3 horas</small>
                    </div>
                </a>
            </div>
            <div class="recomendacao3">
                <img src="/assets/imagens/icone_salvar_empresa_vaga.png" class="icone_salavr_vaga">
            </div>
        </div>
        <div id="caixa2_empresas_recomendacao_vaga">
            <a routerLink="/Vaga-Trabalho">
                <div class="recomendacao1"><img src="/assets/imagens/foto2_empresa_vaga.png" class="foto_empresa1_vaga">
                </div>
                <div class="recomendacao2">
                    <div class="caixa_txt_recomendacao_vaga">
                        <h6 class="txt_descricao_vaga">Desenvolverdor(a) HTML júnior <br></h6>
                    </div>
                    <div class="caixa_subtext_recomendacao_vaga">
                        <small class="subtxt_descricao_vaga">GeekHunter<br>
                            São Paulo, São Paulo, Brasil</small>
                    </div>
                    <div class="caixa_recrutando_vaga">
                        <img src="/assets/imagens/icone_empresa_vaga.png" class="icone_empresa_vaga"><small
                            class="plv_recrutando_vaga">Recrutando agora</small>
                    </div>
                    <div class="caixa_tempo_anuncio_vaga">
                        <small class="tempo_recomendacao_vaga">Há 4 horas</small>
                    </div>
                </div>
                <div class="recomendacao3">
                    <img src="/assets/imagens/icone_salvar_empresa_vaga.png" class="icone_salavr_vaga">
                </div>
            </a>
        </div>
        <div id="caixa3_empresas_recomendacao_vaga">
            <a routerLink="/Vaga-Trabalho">
            <div class="recomendacao1"><img src="/assets/imagens/foto3_empresa_vaga.png" class="foto_empresa1_vaga">
            </div>
            <div class="recomendacao2">
                <div class="caixa_txt_recomendacao_vaga">
                    <h6 class="txt_descricao_vaga">Desenvolverdor(a) HTML júnior <br></h6>
                </div>
                <div class="caixa_subtext_recomendacao_vaga">
                    <small class="subtxt_descricao_vaga">Shopper.com.br<br>
                        São Paulo, São Paulo, Brasil</small>
                </div>
                <div class="caixa_recrutando_vaga">
                    <img src="/assets/imagens/avatar-2.jpg" class="foto_empresa_vaga"><small
                        class="plv_recrutando_vaga">Seu perfil corresponde a esta vaga</small>
                </div>
                <div class="caixa_tempo_anuncio_vaga">
                    <small class="tempo_recomendacao_vaga">Há 1 mês</small>
                </div>
            </div>
            <div class="recomendacao3">
                <img src="/assets/imagens/icone_salvar_empresa_vaga.png" class="icone_salavr_vaga">
            </div>
            </a>
        </div>
        <a routerLink="Vaga">
            <div class="caixa_vizualizar_tudo">
                <h6 class="plv_visualizar_vagas"><small>Visualiaza tudo</small></h6>
            </div>
        </a>
    </div>


    <div class="caixa_remendacao2_vaga">
        <div id="caixa_txt_recomentacao_vaga">
            <h6 id="plv_recomentacao_vaga">Oportunidades remotas
                <br><small id="subtxt_recomentacao_vaga">Porque você indicou interesse em trabalho remoto</small>
            </h6>
        </div>
        <div id="caixa1_empresas_recomendacao2_vaga">
            <a routerLink="/Vaga-Trabalho">
            <div class="recomendacao1"><img src="/assets/imagens/foto1_empresa_vaga.png" class="foto_empresa1_vaga">
            </div>
            <div class="recomendacao2">
                <div class="caixa_txt_recomendacao2_vaga">
                    <h6 class="txt_descricao_vaga">Desenvolverdor Frontend - HTML/CSS - R$<br>
                        9000/mês (remoto) </h6>
                </div>
                <div class="caixa_subtext_recomendacao_vaga">
                    <small class="subtxt_descricao_vaga">Revelo Brasil<br>
                        São Paulo, São Paulo, Brasil (Remoto) </small>
                </div>
                <div class="caixa_recrutando_vaga">
                    <img src="/assets/imagens/icone_empresa_vaga.png" class="icone_empresa_vaga"><small
                        class="plv_recrutando_vaga">Recrutando agora</small>
                </div>
                <div class="caixa_tempo_anuncio_vaga">
                    <small class="tempo_recomendacao_vaga">Há 3 horas</small>
                </div>
            </div>
            <div class="recomendacao3">
                <img src="/assets/imagens/icone_salvar_empresa_vaga.png" class="icone_salavr_vaga">
            </div>
            </a>
        </div>
        <div id="caixa2_empresas_recomendacao_vaga">
            <a routerLink="/Vaga-Trabalho">
            <div class="recomendacao1"><img src="/assets/imagens/foto1_empresa_vaga.png" class="foto_empresa1_vaga">
            </div>
            <div class="recomendacao2">
                <div class="caixa_txt_recomendacao_vaga">
                    <h6 class="txt_descricao_vaga">Desenvolverdor React JS - R$ 9000/mês (remoto) <br></h6>
                </div>
                <div class="caixa_subtext_recomendacao_vaga">
                    <small class="subtxt_descricao_vaga">Revelo Brasil<br>
                        São Paulo, São Paulo, Brasil (Remoto) </small>
                </div>
                <div class="caixa_recrutando_vaga">
                    <img src="/assets/imagens/icone_empresa_vaga.png" class="icone_empresa_vaga"><small
                        class="plv_recrutando_vaga">Recrutando agora</small>
                </div>
                <div class="caixa_tempo_anuncio_vaga">
                    <small class="tempo_recomendacao_vaga">Há 4 horas</small>
                </div>
            </div>
            <div class="recomendacao3">
                <img src="/assets/imagens/icone_salvar_empresa_vaga.png" class="icone_salavr_vaga">
            </div>
            </a>
        </div>
        <div id="caixa3_empresas_recomendacao_vaga">
            <a routerLink="/Vaga-Trabalho">
            <div class="recomendacao1"><img src="/assets/imagens/foto3_empresa_vaga.png" class="foto_empresa1_vaga">
            </div>
            <div class="recomendacao2">
                <div class="caixa_txt_recomendacao_vaga">
                    <h6 class="txt_descricao_vaga">Consultor (a) de Negócios Home Office Pontoncom <br></h6>
                </div>
                <div class="caixa_subtext_recomendacao_vaga">
                    <small class="subtxt_descricao_vaga">Rubner_Prontocom<br>
                        Brasil (Remoto) </small>
                </div>
                <div class="caixa_recrutando_vaga">
                    <img src="/assets/imagens/avatar-2.jpg" class="foto_empresa_vaga"><small
                        class="plv_recrutando_vaga">Seu perfil corresponde a esta vaga</small>
                </div>
                <div class="caixa_tempo_anuncio_vaga">
                    <small class="tempo_recomendacao_vaga">Há 15 minutos</small>
                </div>
            </div>
            <div class="recomendacao3">
                <img src="/assets/imagens/icone_salvar_empresa_vaga.png" class="icone_salavr_vaga">
            </div>
            </a>
        </div>
        <a routerLink="Vaga">
            <div class="caixa_vizualizar_tudo">
                <h6 class="plv_visualizar_vagas"><small>Visualiaza mais vagas</small></h6>
            </div>
        </a>
    </div>


    <div class="caixa_remendacao3_vaga">
        <div id="caixa_txt_recomentacao_vaga">
            <h6 id="plv_recomentacao_vaga">Oportunidades de trabalho híbrido
                <br><small id="subtxt_recomentacao_vaga">Porque você indicou interesse em trabalho híbrido</small>
            </h6>
        </div>
        <div id="caixa1_empresas_recomendacao3_vaga">
            <a routerLink="/Vaga-Trabalho">
            <div class="recomendacao1"><img src="/assets/imagens/foto1_empresa_vaga.png" class="foto_empresa1_vaga">
            </div>
            <div class="recomendacao2">
                <div class="caixa_txt_recomendacao_vaga">
                    <h6 class="txt_descricao_vaga">Atentimento ao cliente <br></h6>
                </div>
                <div class="caixa_subtext_recomendacao_vaga">
                    <small class="subtxt_descricao_vaga">Movleads Lançamento Digitais<br>
                        Manaus, Amazonas, Brasil (Híbrido)</small>
                </div>
                <div class="caixa_tempo_anuncio_vaga">
                    <small class="tempo_recomendacao_vaga">Há 51 minutos</small>
                </div>
            </div>
            <div class="recomendacao3">
                <img src="/assets/imagens/icone_salvar_empresa_vaga.png" class="icone_salavr_vaga">
            </div>
            </a>
        </div>
        <div id="caixa2_empresas_recomendacao_vaga">
            <a routerLink="/Vaga-Trabalho">
            <div class="recomendacao1"><img src="/assets/imagens/foto2_empresa_vaga.png" class="foto_empresa1_vaga">
            </div>
            <div class="recomendacao2">
                <div class="caixa_txt_recomendacao_vaga">
                    <h6 class="txt_descricao_vaga">Desenvolverdor Front-end <br></h6>
                </div>
                <div class="caixa_subtext_recomendacao_vaga">
                    <small class="subtxt_descricao_vaga">GOL Linhas Aéreas<br>
                        São Paulo, São Paulo, Brasil (Híbrido) </small>
                </div>
                <div class="caixa_recrutando_vaga">
                    <img src="/assets/imagens/icone_empresa_vaga.png" class="icone_empresa_vaga"><small
                        class="plv_recrutando_vaga">Recrutando agora</small>
                </div>
                <div class="caixa_tempo_anuncio_vaga">
                    <small class="tempo_recomendacao_vaga">Há 4 horas</small>
                </div>
            </div>
            <div class="recomendacao3">
                <img src="/assets/imagens/icone_salvar_empresa_vaga.png" class="icone_salavr_vaga">
            </div>
            </a>
        </div>
        <div id="caixa3_empresas_recomendacao_vaga">
            <a routerLink="/Vaga-Trabalho">
            <div class="recomendacao1"><img src="/assets/imagens/foto3_empresa_vaga.png" class="foto_empresa1_vaga">
            </div>
            <div class="recomendacao2">
                <div class="caixa_txt_recomendacao_vaga">
                    <h6 class="txt_descricao_vaga">Estágio de Edição de Video <br></h6>
                </div>
                <div class="caixa_subtext_recomendacao_vaga">
                    <small class="subtxt_descricao_vaga">Shopper.com.br<br>
                        São Paulo, São Paulo, Brasil</small>
                </div>
                <div class="caixa_recrutando_vaga">
                    <img src="/assets/imagens/avatar-2.jpg" class="foto_empresa_vaga"><small
                        class="plv_recrutando_vaga">Seu perfil corresponde a esta vaga</small>
                </div>
                <div class="caixa_tempo_anuncio_vaga">
                    <small class="tempo_recomendacao_vaga">Há 1 mês</small>
                </div>
            </div>
            <div class="recomendacao3">
                <img src="/assets/imagens/icone_salvar_empresa_vaga.png" class="icone_salavr_vaga">
            </div>
            </a>
        </div>
        <a routerLink="Vaga">
            <div class="caixa_vizualizar_tudo">
                <h6 class="plv_visualizar_vagas"><small>Visualiaza mais vagas</small></h6>
            </div>
        </a>
    </div>

</div>