<div id="corpo_contatos_rede">
    <ul id="busca_perfil_rede">
        <li>
            <div class="caixa_procura_perfils_rede">
                <div class="caixa1_txt_rede_perfil">
                    <h6 class="txt_conhece_perfis_rede"><small>Pessoas que talvez você conheça na Trabalho em
                            Casa</small>
                    </h6>
                </div>
                <div class="caixa2_txt_rede_perfil">
                    <h6 id="botao_ver_todos_rede"><button class="btn">Ver todos</button></h6>
                </div>
                <div id="caixa_perfilis_rede">
                    <ul id="perfis_adicionar">
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P90/foto1.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Pepo Aires</h6>
                                        <h6 class="profissao_perfil1"><small>--</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <a routerLink="#">
                                            <div class="caixar_conectar_perfil">
                                                <div class="conectar_perfil mt-1">
                                                    <h6 class="plv_conectar_perfil ">Conectar</h6>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil04.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P91/foto1.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Junior Hazard</h6>
                                        <h6 class="profissao_perfil1"><small>Frequentou: AvC</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P92/foto1.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Thiago Barbosa</h6>
                                        <h6 class="profissao_perfil1"><small>Autor de Projeto<br>Arquitetura com</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil04.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P50/foto7.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Sofia Barreto</h6>
                                        <h6 class="profissao_perfil1"><small>Design Digital </small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div id="caixa_perfilis_rede">
                    <ul id="perfis_adicionar">
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil02.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P90/foto6.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Carlos Daniel Dos S...</h6>
                                        <h6 class="profissao_perfil1"><small>--</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil04.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/avats/avatar-2.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Fabiano Freitas</h6>
                                        <h6 class="profissao_perfil1"><small>Frequentou: AvC</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil03.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/avats/avatar-4.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">LUiz Ortiz</h6>
                                        <h6 class="profissao_perfil1"><small>Autor de Projeto<br>Arquitetura com</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil02.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/imagens/pessoas/foto05.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Suelley Naves</h6>
                                        <h6 class="profissao_perfil1"><small>Frenquetou a escola<br>estadual nha
                                                gui...</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="caixa_procura_perfils_rede">
                <div class="caixa1_txt_rede_perfil">
                    <h6 class="txt_conhece_perfis_rede"><small>Pessoas que talvez você conheça em: São Paulo e
                            Região</small>
                    </h6>
                </div>
                <div class="caixa2_txt_rede_perfil">
                    <h6 id="botao_ver_todos_rede"><button class="btn">Ver todos</button></h6>
                </div>
                <div id="caixa_perfilis_rede">
                    <ul id="perfis_adicionar">
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P94/foto1.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">
                                            Victor Amaro</h6>
                                        <h6 class="profissao_perfil1"><small>--</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil02.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P93/foto1.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">
                                            Lucas Simioni</h6>
                                        <h6 class="profissao_perfil1"><small>Frequentou: USP</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P95/foto1.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">LUiz Ortiz</h6>
                                        <h6 class="profissao_perfil1"><small>Engenheiro Químico</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil02.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P50/foto4.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Yasmini Rosalinda</h6>
                                        <h6 class="profissao_perfil1"><small>Professora de Matemática</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="caixa_perfilis_rede">
                    <ul id="perfis_adicionar">
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil02.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P91/foto7.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Carlos Roberto</h6>
                                        <h6 class="profissao_perfil1"><small>--</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P92/foto9.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Fabiano Rodrigues</h6>
                                        <h6 class="profissao_perfil1"><small>Cabeleireiro Profissional</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil03.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P96/foto7.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Caio Santos</h6>
                                        <h6 class="profissao_perfil1"><small>Programador<br>Full Strack</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P2/foto7.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Maria Clara</h6>
                                        <h6 class="profissao_perfil1"><small>Assistente Social<br>Disponivel!</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="caixa_procura_perfils_rede">
                <div class="caixa1_txt_rede_perfil">
                    <h6 class="txt_conhece_perfis_rede"><small>Pessoas que talvez você conheça no seu setor</small>
                    </h6>
                </div>
                <div class="caixa2_txt_rede_perfil">
                    <h6 id="botao_ver_todos_rede"><button class="btn">Ver todos</button></h6>
                </div>
                <div id="caixa_perfilis_rede">
                    <ul id="perfis_adicionar">
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P3/foto1.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Mikaella Consaga</h6>
                                        <h6 class="profissao_perfil1"><small>Escritora<br>Prof: História</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil04.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P4/foto1.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Sara Perreira</h6>
                                        <h6 class="profissao_perfil1"><small>Maquiadora com <br> Certificado</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil02.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P100/foto1.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Luiz Antônio</h6>
                                        <h6 class="profissao_perfil1"><small>Treinador<br>Futebol e Volêi</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil03.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P8/foto1.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Palloma Naves</h6>
                                        <h6 class="profissao_perfil1"><small>Frenquetou a escola<br>--</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="caixa_perfilis_rede">
                    <ul id="perfis_adicionar">
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/avats/avatar-5.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Carlos Daniel Dos S...</h6>
                                        <h6 class="profissao_perfil1"><small>--</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P7/foto1.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Amanda Julia</h6>
                                        <h6 class="profissao_perfil1"><small>Frequentou: AvC</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil02.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P99/foto3.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Leonardo Coelho</h6>
                                        <h6 class="profissao_perfil1"><small>Desenhista<br>Artista com Telas</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_perfil">
                                <img src="/assets/imagens/fundo/fundo_perfil02.jpg" class="fundo_perfil">
                            </div>
                            <img src="/assets/perfis/P4/foto3.jpg" class="foto_perfil">
                            <div class="dados_perfil">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_perfil">Suelley Gomes</h6>
                                        <h6 class="profissao_perfil1"><small>Frenquetou a Faculdade<br>USP</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_perfil">
                                        <div class="ativo_perfil">
                                            <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                                    class="foto_perfil_feed"></div>
                                            <div class="ativo2">
                                                <h6 class="plv_ativo_feed_perfil"><small>Trabalho em Casa</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="caixar_conectar_perfil">
                                            <div class="conectar_perfil mt-1">
                                                <h6 class="plv_conectar_perfil ">Conectar</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <app-empresas></app-empresas>
    </ul>
</div>