#corpo_contatos_rede{
    width: 782px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #fff;
    
    border-left: 1px solid rgb(226, 220, 220);
    border-right: 1px solid rgb(226, 220, 220);
    border-top: 1px solid rgb(226, 220, 220);
}
#busca_perfil_rede {
    margin: 0;
    padding: 0;
}
#busca_perfil_rede li{
    display: inline-block;
    height: 649px;
    width: 100%;

}
.caixa_procura_perfils_rede{
    height: 648px;
    width: 100%;
}
.caixa1_txt_rede_perfil{
    height: 50px;
    width: 85%;
    float: left;
}
.txt_conhece_perfis_rede{
    font-size: 20px;  
    margin-left: 15px; 
    margin-top: 17px;
}
.caixa2_txt_rede_perfil{
    height: 50px;
    width: 15%;
    float: right;
    text-align: right;
}
#botao_ver_todos_rede{
    margin-right: 17px;
    margin-top: 10px;
    
}
#caixa_perfilis_rede{
    height: 292px;
    width: 100%;
    float: left;
    margin-top: 5px;
}









#perfis_adicionar{
    margin: 0;
    padding-left: 1px;
}
#perfis_adicionar li{
    width: 183px;
    height: 280px;
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 10px;
    list-style-type: none;
    border: 1px solid rgb(226, 220, 220);
}
.perfil{
    height: 100%;
    width: 100%;
}
#caixa_fundo_perfil{
    height: 66px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.fundo_perfil{
    width: 100%;
    height: 100%;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
.foto_perfil{
    width: 100px;
    height: 100px;
    border-radius: 75px;
    margin-left: 38px;
    margin-top: -40px;
}
.dados_perfil{
    height: 202px;
    width: 100%;
}
.nome_perfil{
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 15px;
    margin-top: 2px;
    margin-right: 5px;
    
}
.profissao_perfil{
    font-size: 16px;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;

}
.caixa_profissao{
    height: 62px;
    width: 100%;
    text-align: center;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    

}
.caixa_base_perfil{
    height: 50px;
    width: 100%;
    float: left;



}
.ativo_perfil{
    height: 50px;
    width: 100%;
    float: left;
}
.ativo1{
    height: 50px;
    width: 30%;
    float: left;
    text-align: center;
}
.icone_perfil_feed{
    margin-left: 17px;
    margin-top: 17px;
}
.ativo2{
    height: 38px;
    width: 70%;
    float: right;
}
.plv_ativo_feed_perfil{
    font-size: 15px;
    float: left;
    margin-top: 18px;
    margin-left: 6px;
}
.cosideracao_perfil{
    height: 102px;
    width: 100%;
}
.fequencia_perfil{
    font-size: 15px;
    margin-top: 0px;
    margin-left: 18px;
}
.caixar_conectar_perfil{
    height: 52px;
    width: 100%;
    float: left;
}
.conectar_perfil{
    height: 32px;
    width: 156px;
    border-radius: 15px;
    margin-left: 12px;
    border: 1px solid rgb(105, 181, 231);

}
.plv_conectar_perfil{
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    color: rgb(105, 181, 231);
    
}
.foto_perfil_feed{
    margin-left: 29px;
    margin-top: 15px;
    height: 25px;
}