<app-cabecalho-premium></app-cabecalho-premium>
<div id="corpo_premium2">
    <div id="caixa1_premium2">
        <div id="caixa_career">
            <div class="_bordar_top_premium2"></div>
            <div class="titulo1_premium2">
                <h4 class="tiutulo_premium2">Career<br>
                    <h5 class="subtiutulo_premium2"><small>Consiga emprego e avance na sua carreira</small></h5>
                </h4>
            </div>
            <div class="titulo2_premium2">
                <button class="botao_recomendado_premium2">
                    <small class="plv_recomentado_premium2"> Recomentado</small>
                </button>
            </div>
            <div class="premium2_caixa_vantaegns">
                <ul id="vantagens">
                    <li>Destaque seu perfil e entre em contato com recrutadores</li>
                    <li>Veja como você se compara a outros candidatos</li>
                    <li>Adquira novas competências para avançar na sua carreira</li>
                </ul>
            </div>
            <a routerLink="/Experimente-Premium">
                <div class="caixa_botao_saiba_mais_premium2">
                    <div class="botao_saiba_mais_premium2">
                        <h6 class="plv_saiba_mais">Saiba mais</h6>
                    </div>
                </div>
            </a>
        </div>
        <div id="caixa_business">
            <div class="_bordar2_top_premium2"></div>
            <div class="titulo1_premium2">
                <h4 class="tiutulo2_premium2">Business<br>
                    <h5 class="subtiutulo_premium2"><small>Encontre emprego e amplie sua rede</small></h5>
                </h4>
            </div>
            <div class="titulo2_premium2"></div>
            <div class="premium2_caixa_vantaegns">
                <div id="caixa_txt_descricao_premium2">
                    <h6 id="txt_descricao_premium2">Incluir todos os recursos de Career, além de:</h6>
                </div>
                <br>
                <ul id="vantagens">
                    <li>Mais oportunidades para contatar recrutadores diretamente</li>
                    <li>Encontre as pessoas certas para ajudar você na sua busca por <br> emprego</li>
                </ul>
            </div>
            <a routerLink="/Experimente-Premium">
                <div class="caixa_botao_saiba_mais_premium2">
                    <div class="botao_saiba_mais_premium2">
                        <h6 class="plv_saiba_mais">Saiba mais</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <a routerLink="/Experimente-Premium">
        <div id="caixa_botao_conheca_todos_planos">
            <div id="botao_conheca_todos_planos">
                <h6 id="plv_conheca_todos_planos">Conheça todos os planos </h6>
            </div>
        </div>
    </a>
</div>