<div id="corpo_feed2" class="border">
    <div id="perfil2_post2">
        <div id="post1_feed2">
            <img src="/assets/imagens/posts/foto_perfil_post2.png" id="foto_perfil_post2">
            <span id="nome_perfil2_post"><small><b>Finocchio & Ustra Socidade de Advogados</b><br>
                    <small id="subdescricao_post2">7.767 seguidores<br>
                        Patrocinado</small></small></span>
        </div>
        <div id="post2_feed2">
            <img src="/assets/imagens/icone/icone_novo_feed2.png" id="icone_post2">
        </div>
    </div>
    <div id="descriacao_post2">
        <div id="descricao01_post2">
            <span id="plv_descriacao_post2"><small>As questões jurídiacas assumem há tempos no Brasil um papel bastante
                    relevante<br>
                    na vida de nossas corporações. O sistema legal brasileiro é complexo e <span
                        id="plv_ver_mais_post1"><b>...ver mais</b></span></small></span>
        </div>
    </div>
    <img src="/assets/imagens/posts/post2.png" id="foto_post2">
    <div id="teste_post2">
        <div id="teste1_post2">
            <span>
                <h6 id="plv_teste_post02">FIUS TRENDS 2022 - FIUS Advogados - Campinhas/São Paulo<br><small
                        id="plv_subdescricao_teste_post2">fius.com.br</small></h6>
            </span>
        </div>
        <div id="teste02_post2">
            <img src="/assets/imagens/icone/icone_teste_post2.png" id="icone_teste_post2">
        </div>
    </div>
    <div id="emojins_post2">
        <div id="barra_curtidas_post2" class="border-bottom">
            <img src="/assets/imagens/icone/icone2_post2.png" id="icone_post2"><span id="nm_curtidas_post2">72</span>
            <span id="nm_cometarios_post2"><small>1 comentario</small></span>
        </div>
        <div id="barra_emojins_post2">
            <li>
                <div id="caixa_emoji1_post2">
                    <img src="/assets/imagens/icone/emoji_gostei.png" id="emoji_gostar_post2"><span>
                        <h6 id="plv_emoji01_post2">Gostei</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_emoji2_post2">
                    <img src="/assets/imagens/icone/emoji_comentar.png" id="emoji_comentar_post2"><span>
                        <h6 id="plv_emoji2_post2">Comentar</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_emoji3_post2">
                    <img src="/assets/imagens/icone/emoji_compartilhar.png" id="emoji_compartilhar_post2">
                    <span>
                        <h6 id="plv_emoji3_post2">Compartilhar</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_emiji4_post2">
                    <img src="/assets/imagens/icone/emoji_enviar.png" id="emoji_enviar_post2">
                    <span>
                        <h6 id="plv_emoji4_post2">Enviar</h6>
                    </span>
                </div>
            </li>
        </div>

    </div>
</div>