<div id="corpo_cabeçalho_premium">
    <div id="caixa1_cabeçalho_premium">
        <div id="premim01">
            <a routerLink="/Home">
                <img src="/assets/imagens/logo01.png" id="icone_cabeçalho_premium">
            </a>
        </div>
        <div id="premim02">
            <a routerLink="/Home">
                <h6 id="plv_voltar_linkedin_premium">Voltar para o LinkedIn.com</h6>
            </a>
        </div>
    </div>
    <div id="caixa2_cabeçalho_premium">
        <div id="caixa_titulo_premium_cabeçalho">
            <h6 id="plv_titulo_premium_cabeçalho">Destaque seu perfil e saia na frente com uma conta Premium.</h6>
        </div>
        <div id="caixa_txt_cabeçalho_premium">
            <div id="txt_cabeçalho_premium">
                <img src="/assets/perfis/P50/foto1.jpg" class="fotos_perfil_cabeçalho">
                <img src="/assets/perfis/P90/foto1.jpg" class="fotos_perfil_cabeçalho">
                <img src="/assets/perfis/P100/foto1.jpg" class="fotos_perfil_cabeçalho">
                <h6 id="plv_contas_premium">Milhões de usuários têm contas Premium
                    <h6 id="subtxt_cabeçalho_premium"><small>Comecesua demonstração gratuita de 1 mês hoje
                            mesmo.</small></h6>
                </h6>
            </div>
        </div>
    </div>
</div>