<div id="corpo_adicionar_contatos_rede" class="border">
    <div id="caixa1_adicionar_contatos">
        <div id="caixa_sair_contatos_rede">
            <img src="/assets/imagens/icone/icone_sair.png" id="icone_sair_rede">
        </div>
        <div id="caixa_adicionar_perfil_rede">
            <div id="adicionar1_rede">
                <img src="/assets/imagens/icone/icone_adicionar_ctt.png" id="icone_adicionar_ctt_rede">
            </div>
            <div id="adicionar2_rede">
                <h6 id="pvl_adionar_contatos_rede"><small>Adicionar contatos pessoais</small></h6>
            </div>
        </div>
        <div id="caixa_txt_adicionar_rede">
            <h6 id="txt_adionar_contatos_rede"><small><small>Importaremos e armazenaremos seus contatos periodicamente
                        para ajudar você a se conectar com outras pessoas.Você seleciona<br> <span
                            id="subtxt_adicionar_rede"> com quem se conectar e quem convidar. <a href="">Saiba
                                mais</a></span></small></small></h6>
        </div>
    </div>
    <div id="caixa2_adicionar_contatos">
        <div id="caixa_confirma_email_rede">
            <input type="email" class="form-control" id="input_txt_email_rede" aria-describedby="emailHelp"
                placeholder="Seu email">
        </div>
        <div id="caixa_botao_continuar_rede">
            <div id="botao_continuar_rede">
                <h6 id="plv_continuar_rede">Continuar</h6>
            </div>
            <div id="caixa_mais_opcoes_rede">
                <a href=""><h6 id="plv_mais_opcoes_rede"><small>Mais opções</small></h6></a>
            </div>
        </div>
    </div>
</div>