<div id="corpo_adicionar_perfis" class="border">
    <div id="plv_adicionar_perfil">
        <h5 id="txt_adicionar_perfil">Carlos, deseja receber ainda mais atualização? <br>
            <span id="subtxt_adicionar_perfis"><small>Adicione estas pessoas que talvez você conheça à sua rede para ver
                    as <br>atualizações delas no feed</small></span>
        </h5>
    </div>
    <div id="perfis_adicionar" class="border-bottom">
        <ul id="adicionar_ul">
            <li>
                <div class="perfil">
                    <div id="caixa_fundo_perfil">
                        <img src="/assets/imagens/fundo/fundo_perfil03.jpg" class="fundo_perfil">
                    </div>
                    <img src="/assets/perfis/avats/avatar-5.jpg" class="foto_perfil">
                    <div class="dados_perfil">
                        <div class="caixa_profissao">
                            <h6 class="nome_perfil">Danilo Lima</h6>
                            <h6 class="profissao_perfil"><small>Aluno na <br>Unversidade...</small>
                            </h6>
                        </div>
                        <div class="cosideracao_perfil">
                            <div class="caixa_base_perfil">
                                <h6 class="fequencia_perfil"><small>Com base no seu perfil</small></h6>
                            </div>
                            <a routerLink="/Minha_Rede">
                                <div class="caixar_conectar_perfil">
                                    <div class="conectar_perfil">
                                        <h6 class="plv_conectar_perfil">Conectar</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="perfil">
                    <div id="caixa_fundo_perfil">
                        <img src="/assets/imagens/fundo/fundo_perfil04.jpg" class="fundo_perfil">
                    </div>
                    <img src="/assets/perfis/avats/avatar-8.jpg" class="foto_perfil">
                    <div class="dados_perfil">
                        <div id="">
                            <div class="caixa_profissao">
                                <h6 class="nome_perfil">Marcelo Pereira dos Santos</h6>
                                <p>
                                <h6 class="profissao_perfil1 mt-4"><small>editor de video na<br>b + ca filmes </small>
                                </h6>
                            </div>
                            <div class="cosideracao_perfil">
                                <div class="ativo_perfil">
                                    <div class="ativo1"><img src="/assets/imagens/icone/icone_perfil02.png"
                                            class="icone_perfil_feed"></div>
                                    <div class="ativo2">
                                        <h6 class="plv_ativo_feed_perfil"><small>Ativo no feed recentemente</small></h6>
                                    </div>
                                </div>
                                <a routerLink="/Minha_Rede">
                                    <div class="caixar_conectar_perfil">
                                        <div class="conectar_perfil">
                                            <h6 class="plv_conectar_perfil">Conectar</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="perfil">
                    <div id="caixa_fundo_perfil">
                        <img src="/assets/imagens/fundo/fundo_perfil03.jpg" class="fundo_perfil">
                    </div>
                    <img src="/assets/perfis/avats/avatar-10.jpg" class="foto_perfil">
                    <div class="dados_perfil">
                        <div id="">
                            <div class="caixa_profissao">
                                <h6 class="nome_perfil">Rayssa Moreira <br>Yezzi</h6>
                                <p>
                                <h6 class="profissao_perfil1 mt-4"><small>Aluna Fatec Zona<br>Leste</small>
                                </h6>
                            </div>
                            <div class="cosideracao_perfil">
                                <div class="ativo_perfil">
                                    <div class="ativo1"><img src="/assets/imagens/icone/icone_perfil02.png"
                                            class="icone_perfil_feed"></div>
                                    <div class="ativo2">
                                        <h6 class="plv_ativo_feed_perfil"><small>Ativo no feed recentemente</small></h6>
                                    </div>
                                </div>
                                <a routerLink="/Minha_Rede">
                                    <div class="caixar_conectar_perfil">
                                        <div class="conectar_perfil">
                                            <h6 class="plv_conectar_perfil">Conectar</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="perfil">
                    <div id="caixa_fundo_perfil">
                        <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_perfil">
                    </div>
                    <img src="/assets/perfis/avats/avatar-3.jpg" class="foto_perfil">
                    <div class="dados_perfil">
                        <div class="caixa_profissao">
                            <h6 class="nome_perfil">Ana Flávia de <br> Oliveira</h6>
                            <h6 class="profissao_perfil mt-4"><small>Biomédica analista<br>clínica I Pós </small>
                            </h6>
                        </div>
                        <div class="cosideracao_perfil">
                            <div class="caixa_base_perfil">
                                <h6 class="fequencia_perfil"><small>Com base no seu perfil</small></h6>
                            </div>
                            <a routerLink="/Minha_Rede">
                                <div class="caixar_conectar_perfil">
                                    <div class="conectar_perfil mt-1">
                                        <h6 class="plv_conectar_perfil">Conectar</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="perfil">
                    <div id="caixa_fundo_perfil">
                        <img src="/assets/imagens/fundo/fundo_perfil02.jpg" class="fundo_perfil">
                    </div>
                    <img src="/assets/perfis/avats/avatar-1.jpg" class="foto_perfil">
                    <div class="dados_perfil">
                        <div id="">
                            <div class="caixa_profissao">
                                <h6 class="nome_perfil">Amanda Santos</h6>
                                <h6 class="profissao_perfil1"><small>Babá no Trabalho<br>em Casa</small>
                                </h6>
                            </div>
                            <div class="cosideracao_perfil">
                                <div class="ativo_perfil">
                                    <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                            class="foto_perfil_feed"></div>
                                    <div class="ativo2">
                                        <h6 class="plv_ativo_feed_perfil"><small>Trabalho em <br> Casa</small></h6>
                                    </div>
                                </div>
                                <a routerLink="/Minha_Rede">
                                    <div class="caixar_conectar_perfil">
                                        <div class="conectar_perfil mt-1">
                                            <h6 class="plv_conectar_perfil ">Conectar</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="perfil">
                    <div id="caixa_fundo_perfil">
                        <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_perfil">
                    </div>
                    <img src="/assets/imagens/posts/foto5.jpg" class="foto_perfil">
                    <div class="dados_perfil">
                        <div id="">
                            <div class="caixa_profissao">
                                <h6 class="nome_perfil">Aline Pires Lopes</h6>
                                <h6 class="profissao_perfil1"><small>Asistente de loja<br>na Cia Hering</small>
                                </h6>
                            </div>
                            <div class="cosideracao_perfil">
                                <div class="ativo_perfil">
                                    <div class="ativo1"><img src="/assets/imagens/posts/foto_perfil_trabalho.png"
                                            class="foto_perfil_feed"></div>
                                    <div class="ativo2">
                                        <h6 class="plv_ativo_feed_perfil"><small>Trabalho em <br> Casa</small></h6>
                                    </div>
                                </div>
                                <a routerLink="/Minha_Rede">
                                    <div class="caixar_conectar_perfil">
                                        <div class="conectar_perfil mt-1">
                                            <h6 class="plv_conectar_perfil ">Conectar</h6>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="botao_descubra_mais_feed ">
        <a href="">
            <h6 class="plv_descubra_mais_feed">Descobrir mais</h6>
        </a>
    </div>
</div>