<div id="corpo_empresas_rede">
    <ul id="busca_empresa_rede">
        <li>
            <div class="caixa_procura_empresas_rede">
                <div class="caixa1_txt_rede_empresa">
                    <h6 class="txt_conhece_empresas_rede"><small>As pesssoas com competência de Pesquisa também seguem
                            essas páginas</small>
                    </h6>
                </div>
                <div class="caixa2_txt_rede_empresa">
                    <h6 id="botao_ver_todos_rede"><button class="btn">Ver todos</button></h6>
                </div>
                <div id="caixa_empresais_rede">
                    <ul id="empresas_adicionar">
                        <li>
                            <div id="caixa_fundo_empresa">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_empresa">
                            </div>
                            <img src="/assets/imagens/posts/foto_empresa_rede03.png" class="foto_empresa">
                            <div class="dados_empresa">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_empresa">CIEE.Corporação</h6>
                                        <h6 class="profissao_empresa1"><small>863.465 seguidores</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_empresa">
                                        <div class="caixar_conectar_empresa">
                                            <div class="conectar_empresa mt-1">
                                                <h6 class="plv_conectar_empresa ">Seguir</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_empresa">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_empresa">
                            </div>
                            <img src="/assets/imagens/posts/foto_empresa_rede01.png" class="foto_empresa">
                            <div class="dados_empresa">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_empresa">Sicoob</h6>
                                        <h6 class="profissao_empresa1"><small>863.465 seguidores</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_empresa">
                                        <div class="caixar_conectar_empresa">
                                            <div class="conectar_empresa mt-1">
                                                <h6 class="plv_conectar_empresa ">Seguir</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_empresa">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_empresa">
                            </div>
                            <img src="/assets/imagens/posts/foto_empresa_rede02.png" class="foto_empresa">
                            <div class="dados_empresa">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_empresa">Ambev</h6>
                                        <h6 class="profissao_empresa1"><small>863.465 seguidores</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_empresa">
                                        <div class="caixar_conectar_empresa">
                                            <div class="conectar_empresa mt-1">
                                                <h6 class="plv_conectar_empresa ">Seguir</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_empresa">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_empresa">
                            </div>
                            <img src="/assets/imagens/posts/foto_empresa_rede04.png" class="foto_empresa">
                            <div class="dados_empresa">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_empresa">AC.Carmago Center</h6>
                                        <h6 class="profissao_empresa1"><small>863.465 seguidores</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_empresa">
                                        <div class="caixar_conectar_empresa">
                                            <div class="conectar_empresa mt-1">
                                                <h6 class="plv_conectar_empresa ">Seguir</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="caixa_empresais_rede">
                    <ul id="empresas_adicionar">
                        <li>
                            <div id="caixa_fundo_empresa">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_empresa">
                            </div>
                            <img src="/assets/imagens/posts/foto_empresa_rede05.png" class="foto_empresa">
                            <div class="dados_empresa">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_empresa">EmaKlabin</h6>
                                        <h6 class="profissao_empresa1"><small>863.465 seguidores</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_empresa">
                                        <div class="caixar_conectar_empresa">
                                            <div class="conectar_empresa mt-1">
                                                <h6 class="plv_conectar_empresa ">Seguir</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_empresa">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_empresa">
                            </div>
                            <img src="/assets/imagens/posts/foto_empresa_rede06.png" class="foto_empresa">
                            <div class="dados_empresa">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_empresa">Ipec - Inteligência Pesquisa</h6>
                                        <h6 class="profissao_empresa1"><small>863.465 seguidores</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_empresa">
                                        <div class="caixar_conectar_empresa">
                                            <div class="conectar_empresa mt-1">
                                                <h6 class="plv_conectar_empresa ">Seguir</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_empresa">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_empresa">
                            </div>
                            <img src="/assets/imagens/posts/foto_empresa_rede07.png" class="foto_empresa">
                            <div class="dados_empresa">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_empresa">Escalab</h6>
                                        <h6 class="profissao_empresa1"><small>863.465 seguidores</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_empresa">
                                        <div class="caixar_conectar_empresa">
                                            <div class="conectar_empresa mt-1">
                                                <h6 class="plv_conectar_empresa ">Seguir</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="caixa_fundo_empresa">
                                <img src="/assets/imagens/fundo/fundo_perfil05.jpg" class="fundo_empresa">
                            </div>
                            <img src="/assets/imagens/posts/foto_empresa_rede01.png" class="foto_empresa">
                            <div class="dados_empresa">
                                <div id="">
                                    <div class="caixa_profissao">
                                        <h6 class="nome_empresa">Sicoob</h6>
                                        <h6 class="profissao_empresa1"><small>863.465 seguidores</small>
                                        </h6>
                                    </div>
                                    <div class="cosideracao_empresa">
                                        <div class="caixar_conectar_empresa">
                                            <div class="conectar_empresa mt-1">
                                                <h6 class="plv_conectar_empresa ">Seguir</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>