<div id="corpo_alerta_vaga">
    <div id="caixa_alerta_vaga">
        <div id="caixa1_alerta_vaga">
            <div id="plv1_vaga">
                <h6 id="plv_alerta_vaga">Alertas de vaga</h6>
            </div>
            <div id="botao1_vaga">
                <a routerLink="/Vaga">
                    <img src="/assets/imagens/icone_sair2.png" id="icone_sair_alerta_vaga">
                </a>
            </div>
        </div>

        <div id="caixa2_alerta_vaga">
            <div id="alerta1">
                <h6 id="status_alerta_vaga">Desempregado
                    <h6 id="dados_alerta_vaga">Brasil <br>
                        <small id="dados1">
                            Filtros: Presencial · Híbrido <br>
                            Frequência: Diária por e-mail e notificação
                        </small> <br>
                        <small id="dados2"> Receber notificações sobre vagas semelhantes: Sim </small>
                    </h6>
                </h6>
            </div>
            <div id="alerta2">
                <img src="/assets/imagens/icone_lapis_vaga.png" id="icone_lapis_alerta_vaga">
                <img src="/assets/imagens/icone_lixo_vaga.png" id="icone_lixo_alerta_vaga">
            </div>


            <div id="alerta1">
                <h6 id="status_alerta_vaga">Desempregado
                    <h6 id="dados_alerta_vaga">Brasil <br>
                        <small id="dados1">
                            Frequência: Diária por e-mail e notificação
                        </small> <br>
                        <small id="dados2"> Receber notificações sobre vagas semelhantes: Sim </small>
                    </h6>
                </h6>
            </div>
            <div id="alerta2">
                <img src="/assets/imagens/icone_lapis_vaga.png" id="icone_lapis_alerta_vaga">
                <img src="/assets/imagens/icone_lixo_vaga.png" id="icone_lixo_alerta_vaga">
            </div>

            <div id="alerta3">
                <div id="recomentacao1">
                    <h6 id="txt_recomentacao_alerta_vaga">Recomendações de vagas <br>
                        <small id="subtxt_recomentacao_alerta_vaga">
                            Com base nos seus alertas de vaga, atividades e perfil. <a routerLink="/Vaga"> Saiba
                                mais.</a>
                        </small>
                    </h6>
                </div>
                <div id="recomentacao2">
                    <div id="config2_recomentacao2_txt">
                        <h6 id="plv_ativado_config_vaga"><small>Ativado</small></h6>
                    </div>
                    <div id="config2_recomentacao2_botao">
                        <input class="form-check-input" type="radio" id="input_config_vaga">
                    </div>
                </div>
            </div>
        </div>

        <div id="caixa3_alerta_vaga">
            <div id="botao_concluido_alerta_vaga">
                <h6 id="plv_concluido_alerta_vaga">Concluído</h6>
            </div>
        </div>
    </div>
</div>