<app-cabecalho></app-cabecalho>
<div id="pessoas_rede">
    <div id="caixa_pessoas1_rede">
        <div id="caixa1_pessoas_rede" class="shadow">
            <h6 id="pvl_siga_novos_pessoas_rede">Siga novos pontos de vista</h6>
            <h6 id="pvl_siga_novos_pessoas_rede">0 seguindo</h6>
            <h6 id="pvl_siga_novos_pessoas_rede">0 seguidores</h6>
        </div>
    </div>
    <div id="caixa_pessoas2_rede">
        <div id="caixa2_pessoas_rede">
            <div id="filtro1_pessoas_rede">
                <h6 id="plv_filtrar_pessoas_rede"><small>Filtrar por <b>Fora da rede</b></small></h6>
            </div>
            <div id="filtro2_pessoas_rede">
                <img src="/assets/imagens/icone/icone_sair2.png" id="icone1_pessoas_rede">
                <img src="/assets/imagens/icone/icone_pessoas_red.png" id="icone2_pessoas_rede">
            </div>
            <div id="caixa_lista_seguidores_pessoas_rede">
                <div id="caixa_lista_pessoas_rede">
                    <div id="caixa1_lista_pessoas_rede">
                        <h6 id="plv_nao_seguindo_pessoas_rede"><small>Parece que você ainda não está seguindo ninguém.</small></h6>
                    </div>
                    <div id="caixa2_lista_pessoas_rede">
                        <img src="/assets/imagens/posts/foto_pessoas_rede.png" id="foto_pessoas_rede">
                    </div>
                    <div id="caixa3_lista_pessoas_rede">
                        <div id="botao_seguir_pontos_vista_pessoas_rede">
                            <h6 id="pvl_seguir_botao_pessoas_rede">Siga novos pontos de vista</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>