<app-cabecalho></app-cabecalho>
<div id="eventos_rede">
    <div id="eventos1_rede">
        <div id="caixa_eventos_rede">
            <div id="caixa1_evento1_rede">
                <div id="caixa01_eventos">
                    <h5 id="pvl_eventos_rede"><small>Eventos</small></h5>
                </div>
                <div id="caixa02_eventos">
                    <h6 id="plv_criar_eventos_rede">Criar</h6>
                </div>
            </div>
            <div id="caixa2_eventos1_rede">
                <div id="caixa_foto_eventos_rede">
                    <img src="/assets/imagens/posts/foto_eventos_rede.png" id="foto_eventos_rede">
                </div>
                <div id="caixa_txt_eventos_rede">
                    <h2><small>Sem eventos</small></h2>
                    <h6><small id="sub_txt_eventos_rede">Você ainda não participou de nenhum <br>evento</small></h6>
                </div>
            </div>
        </div>
    </div>
    <div id="eventos2_rede">
        <app-anuncio-notificacoes></app-anuncio-notificacoes>
        <app-linkes></app-linkes>
    </div>
</div>