<app-cabecalho></app-cabecalho>
<div id="corpo_configuracoes_vaga">
    <div id="caixa_configuracoes_vaga">
        <div id="caixa1_configuracoes_vaga">
            <a routerLink="/Vaga">
                <h6 id="plv_voltar_config_vaga"><img src="/assets/imagens/icone_seta_esquerda_vaga.png">
                    Voltar</h6></a>
                <h2 id="plv_configuracoes_vaga"><small>Configurações da candidatura à vaga</small></h2>
        </div>
        <div id="caixa02_config_vaga">
            <div id="caixa2_configuracoes_vaga">
                <div class="caixa_txt_config_vaga">
                    <div id="config1">
                        <h6 id="txt_config_vaga">Salvar e gerenciar seus currículos e respostas<br>
                            <small id="subtxt_config_vaga">Permitir que o LinkedIn salve seus currículos e respostas
                                sobre
                                sua experiência profissional e competências. Você pode alterar suas respostas <br>
                                quando se
                                candidatar.</small>
                        </h6>
                    </div>
                    <div id="config2">
                        <div id="config2_txt">
                            <h6 id="plv_ativado_config_vaga"><small>Ativado</small></h6>
                        </div>
                        <div id="config2_botao">
                            <input class="form-check-input" type="radio" id="input_config_vaga">
                        </div>
                    </div>
                    <div id="config3">
                        <h6 id="txt2_config_vaga">Gerencie seus currículos<br>
                            <small id="subtxt2_config_vaga">Você pode enviar os currículos a seguir com a sua
                                candidatura.</small>
                        </h6>
                        <div id="caixa_botao_carregar_curriculo">
                            <div id="botao_carregar_curriculo">
                                <h6 id="plv_carregar_curriculo_config_vaga">Carregar currículo</h6>
                            </div>
                        </div>
                        <h6><small>DOC, DOCX, PDF (5MB)</small></h6>
                    </div>
                </div>
            </div>
        </div>
        <img src="/assets/imagens/icone_escudo_vaga.png" id="icone_escudo_config_vaga">
        <h6 id="txt_privaciade_config_vaga"> Sua privacidade é importante <br>
            <small>Incluímos uma cópia do seu perfil completo na sua candidatura. <br>
                <a routerLink="/Vaga"> Saiba</a> o que fazemos com seu currículo.</small>
        </h6>
    </div>
</div>