<app-cabecalho></app-cabecalho>
<div id="corpo_avaliacao_vaga">
    <div id="avaliacao1">
        <div id="caixa1_avaliacao_vaga">
            <div id="caixa_txt_avalicao_vaga">
                <div id="caixa_titulo_avaliacoes_competencia_vaga">
                    <h6 id="plv_avalicoes_competencia_vaga">Avaliações de competências</h6>
                </div>
                <div id="caixa_txt_avalicoes_competencia_vaga">
                    <h6 id="text_avaliacao_competencia_vaga"><small>Confira seu nível de competência. Responda a 15
                            perguntas de <br> múltipla escolha, fique entre os top 30% e receba um selo de <br>
                            competência. <a href="/Vaga"> Saiba mais</a></small></h6>
                </div>
            </div>
            <div id="categoria_avaliacao_vaga">
                <div id="botao1_opcao_avaliacao_competencias_vaga">
                    <h6 class="plv_botao_avaliacao_competencia">Todas</h6>
                </div>
                <div id="botao2_opcao_avaliacao_competencias_vaga">
                    <h6 class="plv_botao_avaliacao_competencia">Recomendadas</h6>
                </div>
                <div id="botao3_opcao_avaliacao_competencias_vaga">
                    <h6 class="plv_botao_avaliacao_competencia">Conhecimento do setor</h6>
                </div>
                <div id="botao4_opcao_avaliacao_competencias_vaga">
                    <h6 class="plv_botao_avaliacao_competencia">Ferramentas</h6>
                </div>
                <img src="/assets/imagens/lupa02.png" id="lupa_vaga">
                <input id="barra_pesquisa_vaga" class="form-control" placeholder="Pesquisar">
            </div>


            <div id="lista_avaliacoes_vaga">
                <div id="avaliacao_lista1">
                    <img src="/assets/imagens/foto_avaliacao01_vaga.png" class="foto_avalicao1_vaga">
                </div>
                <div id="avaliacao_lista2">
                    <h6 id="txt_avalicao_competencia_vaga">CSS <br>
                        <small id="subtxt_avaliacao_competencia_vaga">
                            Tópicos: Display Styles, Element Selectors, Functions and Rules, Page Layout, Syntax and
                            Semantics <br>
                            1.3M pessoas fizeram essa avaliação</small>
                    </h6>
                </div>
            </div>
            <div id="lista_avaliacoes_vaga">
                <div id="avaliacao_lista1">
                    <img src="/assets/imagens/foto_avaliacao02_vaga.png" class="foto_avalicao1_vaga">
                </div>
                <div id="avaliacao_lista2">
                    <h6 id="txt_avalicao_competencia_vaga">Microsoft Word <br>
                        <small id="subtxt_avaliacao_competencia_vaga">
                            Tópicos: Content Formatting; Productivity and Automation; Revising and Collaborating;
                            Setting Up, Saving, and Exporting <br>
                            6.8M pessoas fizeram essa avaliação</small>
                    </h6>
                </div>
            </div>
            <div id="lista_avaliacoes_vaga">
                <div id="avaliacao_lista1">
                    <img src="/assets/imagens/foto_avaliacao01_vaga.png" class="foto_avalicao1_vaga">
                </div>
                <div id="avaliacao_lista2">
                    <h6 id="txt_avalicao_competencia_vaga">React.js <br>
                        <small id="subtxt_avaliacao_competencia_vaga">

                            Tópicos: Basics, Components, ESNext Syntax, Hooks, Tools <br>
                            569k pessoas fizeram essa avaliação
                        </small>
                    </h6>
                </div>
            </div>
            <div id="lista_avaliacoes_vaga">
                <div id="avaliacao_lista1">
                    <img src="/assets/imagens/foto_avaliacao03_vaga.png" class="foto_avalicao1_vaga">
                </div>
                <div id="avaliacao_lista2">
                    <h6 id="txt_avalicao_competencia_vaga">Microsoft PowerPoint <br>
                        <small id="subtxt_avaliacao_competencia_vaga">
                            Tópicos: Animation, Transitions, and Links; Creating and Editing Slides; Images and Media;
                            Managing Presentations, Printing <br>
                            6.7M pessoas fizeram essa avaliação
                        </small>
                    </h6>
                </div>
            </div>
            <div id="lista_avaliacoes_vaga">
                <div id="avaliacao_lista1">
                    <img src="/assets/imagens/foto_avaliacao02_vaga.png" class="foto_avalicao1_vaga">
                </div>
                <div id="avaliacao_lista2">
                    <h6 id="txt_avalicao_competencia_vaga">Otimização para mecanismos de busca (SEO) <br>
                        <small id="subtxt_avaliacao_competencia_vaga">
                            Tópicos: Analytics, Foundational SEO Knowledge, Off-Page SEO, On-Page SEO, Technical SEO
                            <br>
                            1.5M pessoas fizeram essa avaliação
                        </small>
                    </h6>
                </div>
            </div>
            <div id="lista_avaliacoes_vaga">
                <div id="avaliacao_lista1">
                    <img src="/assets/imagens/foto_avaliacao02_vaga.png" class="foto_avalicao1_vaga">
                </div>
                <div id="avaliacao_lista2">
                    <h6 id="txt_avalicao_competencia_vaga">HTML <br>
                        <small id="subtxt_avaliacao_competencia_vaga">
                            Tópicos: Beyond HTML; HTML Fundamentals; Images, Sound, and Video; Tables and Mathematics;
                            Web for All <br>
                            2.5M pessoas fizeram essa avaliação
                        </small>
                    </h6>
                </div>
            </div>
            <a routerLink="Avaliações-Vaga">
                <div id="botao_exibir_mais_avaliacao_vaga">
                    <h6 id="plv_exibir_mais_avalicao_vaga">Exibir mais avaliações</h6>
                </div>
            </a>
        </div>
    </div>
    <div id="avaliacao2">
        <div id="caixa_suas_avaliacoes">
            <div id="caixa1_suas_avaliacoes">
                <div id="caixa_titulo_suas_avalicoes_vaga">
                    <h5 id="plv_suas_avalicoes_vaga">Suas avaliações</h5>
                </div>
                <div id="caixa_nr_selos_avalicoes_vaga">
                    <div id="selos1">
                        <h4 class="nr_selos_avalicao_vaga">0
                            <h6><small class="txt_selo_avalicao_vaga">Selo</small></h6>
                        </h4>
                    </div>
                    <div id="selos2">
                        <h4 class="nr_selos_avalicao_vaga">0
                            <h6><small class="txt_selo_avalicao_vaga">Para refazer</small></h6>
                        </h4>
                    </div>
                </div>
            </div>
            <div id="caixa2_suas_avaliacoes">
                <img src="/assets/imagens/foto_avaliacao_vaga.png">
            </div>
        </div>
    </div>
</div>