<app-cabecalho></app-cabecalho>
<div id="caixa_solucoes">
    <a routerLink="/Home">
        <div id="caixa_saida_solucoes">
            <img src="/assets/imagens/icone_solucoes_sair.png" id="icone_sair_solucoes">
        </div>
    </a>
    <div id="caixa_opcoes_solucoes">
        <div id="opcao1_solucoes">
            <div id="opcao1_tiulo_solucoes">
                <h6 id="plv_titulo_opcao1_solucoes">Conheça mais soluções do LinkedIn</h6>
            </div>
            <div class="caixa_lista_opcoes_solucoes">
                <ul id="minhas_solucoes">
                    <li>
                        <img src="/assets/imagens/icone_solucoes_opcao1.png" class="icones-solucoes">
                        <h6 class="plv_icone_solucoes"><small>Learning</small></h6>
                    </li>
                    <li>
                        <img src="/assets/imagens/icone_solucoes_opcao2.png" class="icones-solucoes">
                        <h6 class="plv_icone_solucoes"><small>Insights</small></h6>
                    </li>
                    <li>
                        <img src="/assets/imagens/icone_solucoes_opcao2.png" class="icones-solucoes">
                        <h6 class="plv_icone_solucoes"><small>Anuncie uma <br>vaga</small></h6>
                    </li>
                    <li>
                        <img src="/assets/imagens/icone_solucoes_opcao2.png" class="icones-solucoes">
                        <h6 class="plv_icone_solucoes"><small>Veicular<br>anúncio</small></h6>
                    </li>
                </ul>
            </div>


            <div class="caixa_lista_opcoes_solucoes">
                <ul id="minhas_solucoes">
                    <li>
                        <img src="/assets/imagens/icone_solucoes_opcao5.png" class="icones-solucoes">
                        <h6 class="plv_icone_solucoes"><small>Buscar leads</small></h6>
                    </li>
                    <li>
                        <img src="/assets/imagens/icone_solucoes_opcao6.png" class="icones-solucoes">
                        <h6 class="plv_icone_solucoes"><small>Grupos</small></h6>
                    </li>
                    <li>
                        <img src="/assets/imagens/icone_solucoes_opcao7.png" class="icones-solucoes">
                        <h6 class="plv_icone_solucoes"><small>Portal de <br>serviços</small></h6>
                    </li>
                    <li>
                        <img src="/assets/imagens/icone_solucoes_opcao8.png" class="icones-solucoes">
                        <h6 class="plv_icone_solucoes"><small>Salário</small></h6>
                    </li>
                </ul>
            </div>

        </div>

        <div id="opcao2_solucoes">
            <div id="opcao_titulo_solucoes">
                <h6 id="plv_titulo_opcao2_solucoes">Serviços empresariais do LinkedIn</h6>
            </div>
            <div id="caixa_lista_opcoes2_solucoes">
                <div class="linha_txt_servicos_solucoes">
                    <h6 class="txt_servicos_solucoes">Soluções de Talentos <br><small>Encontre, atraia e recrute os
                            melhores talentos</small></h6>
                </div>
                <div class="linha_txt_servicos_solucoes">
                    <h6 class="txt_servicos_solucoes">Soluções de Vendas <br><small> Descubra mais oprtunidades de
                            vendas</small></h6>
                </div>
                <div class="linha_txt_servicos_solucoes">
                    <h6 class="txt_servicos_solucoes">Anunciar vaga de graça <br><small>Divulgue sua vaga candidatos
                            mais <br> qualificados</small></h6>
                </div>
                <div class="linha_txt_servicos_solucoes">
                    <h6 class="txt_servicos_solucoes">Soluções de Marketing<br><small>Conquiste clientes e divulgue seu
                            negócio</small></h6>
                </div>
                <div class="linha_txt_servicos_solucoes">
                    <h6 class="txt_servicos_solucoes">Soluções de Apredizagem <br><small>Capaciate os seus
                            funcionários</small></h6>
                </div>
            </div>
            <div id="caixa_criar_page_solucoes">
                <h6 id="plv_criar_page_solucoes">Crie uma LinkedIn Page
                    <img src="/assets/imagens/icone_criar_page_solucoes.png" id="icone_criar_page_solucoes">
                </h6>
            </div>
        </div>
    </div>
</div>