<app-cabecalho></app-cabecalho>
<div class="row" id="corpo_eu">
    <div id="caixa1_eu">
        <div id="eu1">
            <img src="/assets/perfis/P97/perfil.jpg" id="foto_eu">
        </div>
        <div id="eu2">
            <h6 id="nome_eu">Carlos Recla <br><small id="status_eu">Desempregado</small></h6>
        </div>
        <div id="botao_visualizar_perfil_eu">
            <h6 id="plv_visualizar_perfil_eu">Visuzliazar perfil</h6>
        </div>
    </div>

    <div id="caixa2_eu">
        <div id="caixa_conta_eu">
            <h6 class="plv_conta_eu">Conta</h6>
        </div>
        <div class="caixa_opcoes_config_eu">
            <h6 class="plv_cong_privacidade_eu"><small>Configurações e privacidade</small></h6>
        </div>
        <div class="caixa_opcoes_config_eu">
            <h6 class="plv_cong_privacidade_eu"><small>Ajuda</small></h6>
        </div>
        <div class="caixa_opcoes_config_eu">
            <h6 class="plv_cong_privacidade_eu"><small>Idioma</small></h6>
        </div>
    </div>

    <div id="caixa3_eu">
        <div id="caixa_conta_eu">
            <h6 class="plv_conta_eu">Gerenciar</h6>
        </div>
        <div class="caixa_opcoes_config_eu">
            <h6 class="plv_cong_privacidade_eu"><small>Publicacões e atividades</small></h6>
        </div>
        <div class="caixa_opcoes_config_eu">
            <h6 class="plv_cong_privacidade_eu"><small>Conta de anúncio de vaga</small></h6>
        </div>
    </div>
    <a routerLink="">
        <div id="caixa4_eu">
            <h6 id="plv_sair_eu"><small>Sair</small></h6>
        </div>
    </a>
</div>