<div id="corpo_preimium">
    <div id="caixa_opcçoes_premium">
        <div id="caixa_txt_premium">
            <h5 id="txt_premium"><small>Carlos, o que você gostaria de alcançar com uma <br> conta Premium?</small>
                <br><small id="subtxt_premium">Recomendaremos o plano certo para você.</small>
            </h5>
        </div>
        <div id="opcoes_premium">
            <ul id="opcoes1">
                <li>
                    <div class="escolha1_premium">
                        <input class="form-check-input position-static" type="checkbox" value="opcao1"
                            class="input_comfirmaçao_premium" chackmark="">
                    </div>
                    <div class="escolha2_premium">
                        <h6 class="txt_opcoes_premium"><small>Procurar e conseguir emprego</small></h6>
                    </div>
                </li>
                <li>
                    <div class="escolha1_premium">
                        <input class="form-check-input position-static" type="checkbox" value="opcao1"
                            class="input_comfirmaçao_premium" chackmark="">
                    </div>
                    <div class="escolha2_premium">
                        <h6 class="txt_opcoes_premium"><small>Desenvolver minhas competências profissionais</small></h6>
                    </div>
                </li>
                <li>
                    <div class="escolha1_premium">
                        <input class="form-check-input position-static" type="checkbox" value="opcao1"
                            class="input_comfirmaçao_premium" chackmark="">
                    </div>
                    <div class="escolha2_premium">
                        <h6 class="txt_opcoes_premium"><small>Ampliar minha rede e gerenciar minha reputação</small>
                        </h6>
                    </div>
                </li>
                <li>
                    <div class="escolha1_premium">
                        <input class="form-check-input position-static" type="checkbox" value="opcao1"
                            class="input_comfirmaçao_premium" chackmark="">
                    </div>
                    <div class="escolha2_premium">
                        <h6 class="txt_opcoes_premium"><small>Encontrar leads com mais eficácia</small></h6>
                    </div>
                </li>
                <li>
                    <div class="escolha1_premium">
                        <input class="form-check-input position-static" type="checkbox" value="opcao1"
                            class="input_comfirmaçao_premium" chackmark="">
                    </div>
                    <div class="escolha2_premium">
                        <h6 class="txt_opcoes_premium"><small>Encontar e contratar talentos com mais rapidez</small>
                        </h6>
                    </div>
                </li>
            </ul>
        </div>
        <div id="caixa_veja_todos_planos_premium">
            <div id="planos1">
                <h6 id="plv_veja_todos_planos_premium">Veja todos os planos</h6>
            </div>
            <div id="planos2">
                <a routerLink="/Premium2">
                    <div id="botao_avancar_premium">
                        <h6 id="plv_avancçar_premium">Avançar</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>