<app-cabecalho></app-cabecalho>
<div id="contatos_rede">
    <div id="cabeçalho_contatos_rede">
        <h5 id="pvl_contatos_salvos"><small>Contatos salvos</small></h5>
    </div>
    <div id="corpo_contatos_rede">
        <div id="rede_contatos1">
            <div id="caixa_contatos_salvos">
                <div id="caixa1_contatos_salvos">
                    <h6 id="quantidade_contatos_salvos"><small>0 contatos importados</small></h6>
                </div>
                <div id="caixa2_contatos_salvos">
                    <div id="conecte-se1_contatos_rede">
                        <img src="/assets/imagens/icone/icone_contatos_rede.png" id="icone1_contatos_rede">
                    </div>
                    <div id="conecte-se2_contatos_rede">
                        <h6 id="plv_conencte-se_rede">Conecte-se com pessoas que você conhece <br>
                            <small id="subplv_conecte-se_rede">Importe suas conexões para manter contato</small>
                        </h6>
                        <h6 id="plv_sincroniza_contatos">Sincronize seus contatos</h6>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div id="rede_contatos2">
            <div id="caixa_opcoes_contatos_rede">
                <div class="caixa_opcao_contatos_rede">
                    <h6 class="plv_opcoes_contatos_rede"><img src="/assets/imagens/icone/icone2_contatos_rede.png" class="icone1_opcoes_contatos_rede">Adicionar mais contatos</h6>
                </div>

                <div class="caixa_opcao_contatos_rede">
                    <h6 class="plv_opcoes_contatos_rede"><img src="/assets/imagens/icone/icone3_contatos_rede.png" class="icone1_opcoes_contatos_rede">Exportar contaos</h6>
                </div>

                <div class="caixa_opcao_contatos_rede">
                    <h6 class="plv_opcoes_contatos_rede"><img src="/assets/imagens/icone/icone4_contatos_rede.png" class="icone1_opcoes_contatos_rede">Gerenciar contatos sincronizados</h6>
                </div>
            </div>
            <app-anuncio-notificacoes></app-anuncio-notificacoes>
        </div>
    </div>
</div>
