<div id="corpo_pesquisar_vaga">
    <div id="caixa1_pesquisar_vaga">
        <div id="pesquisa1_vaga">
            <h6 id="plv_pesquisar_vagas">Pesquisas de vagas recentes</h6>
        </div>
        <div id="pesquisa2_vaga">
            <h6 id="plv_limpar_pesquisa_vaga">Limpar</h6>
        </div>
    </div>
    <div id="caixa2_pesquisar_vaga">
        <h6 id="nome_ultima_empresa_vaga">Junior Web Developer
            <a href="Vaga"><small>(260 novas)</small></a><br>
            <small>Brasil</small>
        </h6>
    </div>
</div>
