<div id="corpo_cadastro1">
    <div id="caixa_cabeçalho_cadastro1">
        <img src="/assets/imagens/icone_cadastro1.png" id="icone_cadastro1">
        <h1 id="txt_cadastro1"><small>Aproveite sua vida profissional ao máximo</small></h1>
    </div>
    <div id="caixa_corpo_cadastro1">
        <div id="caixa_cadastro1">
            <div id="caixa_inputs_cadastro1">
                <div class="caixa_input_cadastro1">
                    <h6 id="plv_emeil_cadastro1"><small>E-mail ou número de telefone</small></h6>
                    <input type="email" class="form-control" id="input_email">
                </div>
                <div class="caixa_input_cadastro1">
                    <h6 id="plv_emeil_cadastro1"><small>Senha (6 ou mais caracteres)</small></h6>
                    <input type="email" class="form-control" id="input_email">
                </div>

                <div id="caixa_linkes_cadastro1">
                    <h6 id="txt_linkes_cadastro1"><small>Ao clicar em Aceite e cadastre-se, você aceita o <a href="">
                                Contrato do <br> Usuário</a>, a <a href=""> Política de Privacidade </a>e a
                            <a href=""> Política de Cookies</a> do <br> LinkedIn.</small></h6>
                </div>
                <a routerLink="/Dados1">
                    <div id="caixa_botao_cadastro1">
                        <div id="botao_cadastre1">
                            <h6 id="plv_botao_cadastre1">Aceite e cadastre-se</h6>
                        </div>
                    </div>
                </a>
                <div id="caixa_ou_cadastro1">
                    <div id="linha1"></div>
                    <h6 id="plv_ou_cadastro1"><small>ou</small></h6>
                    <div id="linha2"></div>
                </div>
                <div id="caixa_tem_cadastro1">
                    <div class="text-center">
                        <span>Já se cadastrou no LinkedIn?</span>
                        <a routerLink="/">
                            <span><a class=" btn btn-link" id="cadastro1">Entre</a></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="caixa_cria-page_empressa">
        <div class="text-center">
            <span>você quer criar uam página para uma empresa?</span>
            <a routerLink="/Cadastre-se">
                <span><a class=" btn btn-link" id="cadastro1">Obter ajudar</a></span>
            </a>
        </div>
    </div>
    <div id="rodape">
        <ul id="menu_inferior">
            <li><img src="/assets/imagens/icon_link.png" id='icon_link'>© 2022</li>
            <li class="btn-link">Contato do Usuário</li>
            <li class="btn-link">Politica de Privacidade do Linkedin</li>
            <li class="btn-link">Diretrizes da Comunidade</li>
            <li class=" btn-link">Politica de Cookies</li>
            <li class=" btn-link">Politica de Direitos Autorais</li>
            <li class="btn-link">Enviar fedlback</li>
        </ul>
    </div>
</div>