<div id="corpo_anuncio_rede" class="border-bottom border-left border-right">
    <div id="parte1_anucio_rede">
        <div id="caixa_plv_anuncio_rede">
            <h6 id="plv_anuncio_rede"><small>Anúncio</small><img
                    src="/assets/imagens/icone/icone_promovido.png" id="icone_anuncio_rede"></h6>
        </div>
        <div id="caixa_plv_subtext_anuncio_rede"><small id="plv_subtext_anuncio_rede">Saiba como transformar sua operação de <br> atendimento com Droz-bot</small></div>
    </div>
    <div id="parte2_anuncio_rede" class="border-bottom">
        <div id="caixa_foto_anuncio_rede">
            <img src="/assets/imagens/posts/foto_anuncio_rede.png" id="foto_anuncio_rede">
        </div>
        <div id="caixa_txt_anuncio_rede">
            <h6 id="txt_anuncio_rede"><small>Carlos, talvez seja do seu interesse seguir <br> Meu Droz</small></h6>
        </div>
        <div id="caixa_botao_seguir_anuncio_rede">
            <div id="botao_seguir_anuncio_rede"><h6 id="plv_seguir_anuncio_rede"><small>Seguir</small></h6></div>
        </div>
    </div>
    <div id="caixa_amplie_rede">
        <h6 id="plv_amplie_rede">Amplie sua rede</h6>
    </div>
</div>