<div id="corpo_vaga_ds">
    <div id="caixa_vaga_ds">
        <div id="caixa1_vaga_ds">
            <div id="ds1">
                <h5 id="titulo_vaga_ds">Estágio em Desenvolvimento de Software Web</h5>
                <h6 id="sub_titulo_vaga_ds"><small>IBM - São Paulo, São Paulo, Brasil (Presencial) <small id="tempo_vag_ds"> há 9 horas *</small> 33 candidatos </small></h6>
            </div>
            <div id="ds2">
                <img src="/assets/imagens/emoji_compartilhar.png" id="icone_compartilhar_vaga_ds">
                <img src="/assets/imagens/icone_novo_feed2.png" id="icone_config_vaga_ds">
            </div>
        </div>
        <div id="caixa2_vaga_ds">

            <div id="vaga_ds_requisitos1">
                <h6>
                    <img src="/assets/imagens/vaga01.png" class="icone_vaga_ds_requisidos">
                    <small class="plv_requisidos">Tempo integral</small>
                </h6>
            </div>
            <div id="vaga_ds_requisitos2">
                <img src="/assets/imagens/icone05-rede.png" class="icone_vaga_ds_requisidos">
                <small class="plv_requisidos">+ de 10.001 funcionários * Serviços e consultoria de TI </small>
            </div>
            <div id="vaga_ds_requisitos2">
                <img src="/assets/imagens/icone_vaga_ds_requisidos.png" class="icone_vaga_ds_requisidos">
                <small class="plv_requisidos">Veja como você se compara a 33 candidatos. <a routerLink="/Experimente-Premium"> Experimente o Premium grátis </a></small>
            </div>
            <div id="vaga_ds_requisitos2">
                <img src="/assets/imagens/icone_empresa_vaga.png" class="icone_vaga_ds_requisidos">
                <small class="plv_requisidos">Recrutando agora</small>
            </div>
        </div>
        <div id="caixa3_botoes_candidatar_vaga_ds">
            <div id="botao_candidatar">
                <h6 id="plv_cadidata-se_vaga_ds">Candidatar-se
                    <img src="/assets/imagens/icone_vaga_ds_requisidos2.png" alt="">
                </h6>
            </div>
            <div id="botao_salvar_vaga_ds">
                <h6 id="plv_salvar_botao_vaga_ds">Salvar</h6>
            </div>
        </div>
        <div id="caixa4_vaga_ds">
            <p id="txt_introdução_vaga_ds"><b> Introdução</b> <br>
                <br>

                Na IBM, o trabalho é mais que uma tarefa. É um chamado para construir. Para projetar. Para codificar. Para consultar. Para pensar junto com os clientes e vender. Para construir mercados. Para inventar. Para colaborar. Não apenas para fazer algo melhor, mas para tentar coisas que você nunca imaginou serem possíveis. Para liderar nesta nova era da tecnologia e resolver alguns dos problemas mais desafiadores do mundo. <br>
                
                Seu papel e responsabilidades <br>
                
                O programa de estágio objetiva estimular o desenvolvimento profissional dos estudantes através de experiências práticas das áreas de negócio, para que adquiram novos conhecimentos e se tornem profissionais qualificados e diferenciados.</p>


                <p id="txt_introdução_vaga_ds">
                    <b> Principais Atividades</b> <br><br>

                    O candidato participará das atividades de pesquisa e desenvolvimento relacionadas a iniciativas de clima da IBM Research, contribuindo para: 1) <br> implementação de algoritmos de aprendizado de máquina e inferência estatística de séries temporais; 2) <br> processamento e análise de dados de sensores físicos e de simulação; 3) <br> análise numérica e estatística de resultados; 4) <br> confecção de material suplementar para artigos científicos; 5) <br> apoio ao desenvolvimento de software em nuvem.
                </p>
        </div>
    </div>
</div>
