<div id="corpo_conversa_menssagens">
    <div id="caixa1_conversa_menssagens">
        <div id="caixa01_menssagens">
            <h6 id="nome_conversa_menssagens">Caio Matiniano
                <h6 id="subtxt_conversa_menssagens"><small>Account Manaqer at Quickin.io</small></h6>
            </h6>
        </div>
        <div id="caixa2_menssagens">
            <img src="/assets/imagens/icone_novo_feed2.png" id="icone1_conversa_menssagens">
        </div>
    </div>

    <div id="caixa_atributos_conversa_menssagesn">
        <div id="atributo1">
            <h6 id="plv_patocinado_menssagens"><small>Patrocinado</small></h6>
        </div>
        <div id="atributo2">
            <h6 id="dta_conversa_menssagens"><small>15 de mar.</small></h6>
        </div>
    </div>

    <div id="caixa_assunto_menssagens">
        <h6 id="assunto_menssaegns">Software de Recrutamento e Seleção</h6><br>
        <a href="Menssagens">
            <div id="botao_conheça_mais">
                <h6 id="plv_conheco_mais_menssagens">Conheça mais</h6>
            </div>
        </a>
    </div>

    <div id="caixa_conversa_menssagens">
        <div id="apresentacao_coversa_menssagens">
            <div id="caixa_foto_conversa_menssagens"><img src="/assets/perfis/P100/foto1.jpg" id="foto_perfil_conversa_menssagens"></div>
            <div id="dados_perfil_conversa_menssagens">
                <h6 id="nm_perfil_conversa_menssagens">Caio Martiniano <br>
                <small id="apresentacao_perfil_coversa_menssagens">Olá Carlos,</small></h6>
            </div>
        </div>
        <div id="caixa_texto_conversa_menssagens">
            <p class="txt_conversa_menssagens">Meu nome é Caio e gostaria de fazer uma pergunta.</p>
            <p class="txt_conversa_menssagens">Você já pensou em utilizar um Software de Recrutamento e Seleção que ajuda a organizar e acelerar os processos de contratação?</p>
            <p class="txt_conversa_menssagens">Eu posso te demonstrar como é fácil usar o poderoso software de R&S Quickin. Você entenderá porque grande empresas adotam essas ferramentas para o controle dos procesos.</p>
            <p class="txt_conversa_menssagens">Preencha esse breve formulário para agendarmos um bate-papo:</p>
            <a href="https://www.quickin.io/demonstracao/"><h6><small>https://www.quickin.io/demonstracao/</small></h6></a>
            <h6><small>Abraços</small></h6>
            <h6 id="botao_conheca_mais_mensagens">Conheça mais
                <img src="/assets/imagens/icone3_conversa_mensagens.png" >
            </h6>
        </div>
    </div>
</div>