<div id="corpo_publicacao">
    <div id="publicacao" class="border">
        <div id="publicacao01">
            <img src="/assets/imagens/pessoas/{{fotopessoa}}" id="foto_eu_publicacao" class="rounded-circle">
            <input class="form-control" type="text" placeholder="Começar publicação" id="barra_publicacao">
        </div>
        <div id="publicacao02">
            <li>
                <div id="caixa_foto_publicacao">
                    <img src="/assets/imagens/icone/icone_foto.png" id="icone_foto_publicacao">
                    <span>
                        <h6 id="plv_foto_publicacao">Foto</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_video_publicacao">
                    <img src="/assets/imagens/icone/icone_video.png" id="icone_video_publicacao">
                    <span>
                        <h6 id="plv_video_publicacao">Video</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_evento_publicacao">
                    <img src="/assets/imagens/icone/icone_evento.png" id="icone_evento_publicacao">
                    <span>
                        <h6 id="plv_evento_publicacao">Evento</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_artigo_publicacao">
                    <img src="/assets/imagens/icone/icone_artigo.png" id="icone_artigo_publicacao">
                    <span>
                        <h6 id="plv_artigo_publicacao">Escrever artigo</h6>
                    </span>
                </div>
            </li>
        </div>
    </div>
    <div id="novo_feed1">
        <hr>
    </div>
    <div id="novo_feed2">
        <h6 id="classificar_feed"><small>Classificar por: <b>Principais</b><img
                    src="/assets/imagens/icone/icone_novo_feed.png" id="icone_novo_feed"></small></h6>
    </div>
</div>