<div id="corpo_feed3" class="border">
    <div id="perfil3_post3">
        <div id="post1_feed3">
            <img src="/assets/imagens/posts/foto_perfil_post3.png" id="foto_perfil_post3">
            <span id="nome_perfil3_post"><small><b>Huawei Brasil</b><br>
                    <small id="subdescricao_post3">
                        Patrocinado</small></small></span>
        </div>
        <div id="post2_feed3">
            <img src="/assets/imagens/icone/icone_novo_feed2.png" id="icone3_post3">
        </div>
    </div>
    <div id="descriacao_post3">
        <div id="descricao01_post3">
            <span id="plv_descriacao_post3"><small>Impusione sua transformação digital e simplifique o gerenciamento das<br><span id="subdescricao_post3"> apliacações da suas empresa com serviço de nuvem publica Huawei Cloud.</span></small></span>
        </div>
    </div>
    <img src="/assets/imagens/posts/post3.png" id="foto_post3">
    <div id="teste_post3">
        <div id="teste1_post3">
            <span>
                <h6 id="plv_teste_post03">Huawei Cloud<br><small
                        id="plv_subdescricao_teste_post3">materiais.huaweibra.com.br</small></h6>
            </span>
        </div>
        <div id="teste02_post3">
            <div id="botao_saiba_mais_post3">
                <span id="plv_saiba_post3"><h6>Saiba mais</h6></span>
            </div>
        </div>
    </div>
    <div id="emojins_post3">
        <div id="barra_curtidas_post3" class="border-bottom">
            <img src="/assets/imagens/icone/icone2_post2.png" id="icone_post3"><span id="nm_curtidas_post3">897</span>
            <span id="nm_cometarios_post3"><small>6 comentarios</small></span>
        </div>
        <div id="barra_emojins_post3">
            <li>
                <div id="caixa_emoji1_post3">
                    <img src="/assets/imagens/icone/emoji_gostei.png" id="emoji_gostar_post3"><span>
                        <h6 id="plv_emoji01_post3">Gostei</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_emoji2_post3">
                    <img src="/assets/imagens/icone/emoji_comentar.png" id="emoji_comentar_post3"><span>
                        <h6 id="plv_emoji2_post3">Comentar</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_emoji3_post3">
                    <img src="/assets/imagens/icone/emoji_compartilhar.png" id="emoji_compartilhar_post3">
                    <span>
                        <h6 id="plv_emoji3_post3">Compartilhar</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_emiji4_post3">
                    <img src="/assets/imagens/icone/emoji_enviar.png" id="emoji_enviar_post3">
                    <span>
                        <h6 id="plv_emoji4_post3">Enviar</h6>
                    </span>
                </div>
            </li>
        </div>
</div>
