<div id="corpo_lista_menssagens">
    <div id="caixa1_menssagens">
        <div id="txt1_menssagem">
            <h6 id="plv_mensagens">Mensagens</h6>
        </div>
        <div id="txt2_menssagem">
            <img src="/assets/imagens/icone_novo_feed2.png" id="icone1_menssagens">
            <img src="/assets/imagens/icone1_menssagens.png" id="icone2_menssagens">
        </div>
    </div>
    <div id="caixa_perfis_menssagens">
        <div id="caixa_persquisa_perfis_menssagens">
            <div id="pesquisa_perfis_menssagens">
                <div id="lupa_pesquisa_menssagens">
                    <img src="/assets/imagens/icone2_menssagens.png" id="icone3_menssagens">
                </div>
                <div id="barra_pesquisa_menssagens">
                    <input type="text" class="form-control" placeholder="Pesquisa mensagens" id="input_pesquisa_mensagens">
                </div>
            </div>
        </div>
        <div id="perfil_mensagens">

            <div id="mensagens1">
                <img src="/assets/perfis/P100/foto1.jpg" id="foto_perfil_menssagens">
            </div>
            <div id="mensagens2">
                <div id="linha_nm_perfil_menssagens">
                    <h6 id="nm_perfil_mensagens"><small>Caio Martiniano</small></h6>
                    <h6 id="dta_perfil_menssagens"><small>15 de mar.</small></h6>
                </div>
            
                <div id="subtxt_perfil_menssagens">
                    <h6 id="txt_perfil_menssagens"><small><b>Patrocinado *</b> Sofware de <br> Recrutamento e Seleção</small></h6>
                </div>
            </div>
        </div>
        <div id="perfil2_mensagens">

            <div id="mensagens1">
                <img src="/assets/perfis/P10/foto1.jpg" id="foto_perfil_menssagens">
            </div>
            <div id="mensagens2">
                <div id="linha_nm_perfil_menssagens">
                    <h6 id="nm_perfil_mensagens"><small>Patricia Santos</small></h6>
                    <h6 id="dta_perfil_menssagens"><small>24 de fev.</small></h6>
                </div>
            
                <div id="subtxt_perfil_menssagens">
                    <h6 id="txt_perfil_menssagens"><small><b>Patrocinado *</b> Vagas abertas <br> Seleção por currículo</small></h6>
                </div>
            </div>
        </div>
    </div>
</div>
