<div id="corpo_mensagens_notificacoes">

    <div class="caixa_mensagens_notificacao">
        <a routerLink="/Notificacao-Single">
            <div class="caixa1_notificacoes">
                <img src="/assets/imagens/foto1_mensagens_notificacoes.png" id="icone_mensagens_notificacao">
            </div>
            <div class="caixa2_notificacoes">
                <div class="caixa_titulo_txt_notificacao">
                    <h6 class="titulo_txt_notificacao"><small> <b> Boletim Diário: QUINTA-FEIRA </b></small></h6>
                </div>
                <div class="caixa_txt_menssagem_notificacao">
                    <h6 class="txt_menssagem_notificacao">
                        <small>
                            Copom eleva taxa básica de juros para 11,75%; Netflix vai cobrar taxa de quem divide conta;
                            e
                            outras notícias relevantes
                        </small>
                    </h6>
                </div>
            </div>
            <div class="caixa3_notificacao">
                <h6 class="tempo_menssagem_notificacao"><small>2 h</small> <br>
                    <img src="/assets/imagens/icone_novo_feed2.png" class="icone_menssagens_notificacoes">
                </h6>
            </div>
        </a>
    </div>


    <div class="caixa_mensagens_notificacao">
        <a routerLink="/Notificacao-Single">
        <div class="caixa1_notificacoes">
            <img src="/assets/imagens/foto2_mensagens_notificacoes.png" id="icone2_mensagens_notificacao">
        </div>
        <div class="caixa2_notificacoes">
            <div class="caixa_txt_menssagem_notificacao">
                <h6 class="txt2_menssagem_notificacao">
                    <small>
                        <b>Revelo Brasil</b> está procurando: <b>Desenvolverdor Frontend- HTML/CSS - R$7500/mês
                            (remoto).</b> Veja esta e mais <b>9</b> recomendações de vagas
                    </small>
                </h6>
            </div>
            <div class="botao_veja_vagas_notificacoes">
                <h6 class="plv_veja_vaga_notificacao">Veja as vagas</h6>
            </div>
        </div>
        <div class="caixa3_notificacao">
            <h6 class="tempo_menssagem_notificacao"><small>13h</small> <br>
                <img src="/assets/imagens/icone_novo_feed2.png" class="icone_menssagens_notificacoes">
            </h6>
        </div>
        </a>
    </div>




    <div class="caixa_mensagens_notificacao">
        <a routerLink="/Notificacao-Single">
        <div class="caixa1_notificacoes">
            <img src="/assets/imagens/foto1_mensagens_notificacoes.png" id="icone_mensagens_notificacao">
        </div>
        <div class="caixa2_notificacoes">
            <div class="caixa_txt3_menssagem_notificacao">
                <h6 class="txt_menssagem_notificacao">
                    <small>
                        LINKEDIN NOTÍCIAS: Bons líderes favorecem harmonia na carreira — e também na vida pessoal — das
                        equipes. Entenda.
                    </small>
                </h6>
            </div>
        </div>
        <div class="caixa3_notificacao">
            <h6 class="tempo_menssagem_notificacao"><small>18 h</small> <br>
                <img src="/assets/imagens/icone_novo_feed2.png" class="icone_menssagens_notificacoes">
            </h6>
        </div>
        </a>
    </div>



    <div class="caixa_mensagens_notificacao">
        <a routerLink="/Notificacao-Single">
        <div class="caixa1_notificacoes">
            <img src="/assets/imagens/foto1_mensagens_notificacoes.png" id="icone_mensagens_notificacao">
        </div>
        <div class="caixa2_notificacoes">
            <div class="caixa_txt3_menssagem_notificacao">
                <h6 class="txt_menssagem_notificacao">
                    <small>
                        LINKEDIN NOTÍCIAS: Para você, qual é a melhor forma de relaxar após o expediente? Participe da
                        enquete.
                    </small>
                </h6>
            </div>
        </div>
        <div class="caixa3_notificacao">
            <h6 class="tempo_menssagem_notificacao"><small>1 d</small> <br>
                <img src="/assets/imagens/icone_novo_feed2.png" class="icone_menssagens_notificacoes">
            </h6>
        </div>
        </a>
    </div>






    <div class="caixa_mensagens_notificacao">
        <a routerLink="/Notificacao-Single">
        <div class="caixa1_notificacoes">
            <img src="/assets/imagens/foto1_mensagens_notificacoes.png" id="icone_mensagens_notificacao">
        </div>
        <div class="caixa2_notificacoes">
            <div class="caixa_txt3_menssagem_notificacao">
                <h6 class="txt_menssagem_notificacao">
                    <small>
                        NO SEU SETOR: Dois em cada três consumidores desistem de comprar online por experiência ruim.
                        Saiba mais
                    </small>
                </h6>
            </div>
        </div>
        <div class="caixa3_notificacao">
            <h6 class="tempo_menssagem_notificacao"><small>2 d</small> <br>
                <img src="/assets/imagens/icone_novo_feed2.png" class="icone_menssagens_notificacoes">
            </h6>
        </div>
        </a>
    </div>




    <div class="caixa_mensagens_notificacao">
        <a routerLink="/Notificacao-Single">
        <div class="caixa1_notificacoes">
            <img src="/assets/imagens/foto1_mensagens_notificacoes.png" id="icone_mensagens_notificacao">
        </div>
        <div class="caixa2_notificacoes">
            <div class="caixa_txt3_menssagem_notificacao">
                <h6 class="txt_menssagem_notificacao">
                    <small>
                        LINKEDIN NOTÍCIAS: Por que é importante ter processos seletivos com foco em minorias? Participe
                        da conversa.
                    </small>
                </h6>
            </div>
        </div>
        <div class="caixa3_notificacao">
            <h6 class="tempo_menssagem_notificacao"><small>4 d</small> <br>
                <img src="/assets/imagens/icone_novo_feed2.png" class="icone_menssagens_notificacoes">
            </h6>
        </div>
        </a>
    </div>



    <div class="caixa_mensagens_notificacao">
        <a routerLink="/Notificacao-Single">
        <div class="caixa1_notificacoes">
            <img src="/assets/imagens/foto1_mensagens_notificacoes.png" id="icone_mensagens_notificacao">
        </div>
        <div class="caixa2_notificacoes">
            <div class="caixa_txt3_menssagem_notificacao">
                <h6 class="txt_menssagem_notificacao">
                    <small>
                        LINKEDIN NOTÍCIAS: Pesquisa traz as carreiras digitais que pagam os maiores e menores salários.
                        Confira.
                    </small>
                </h6>
            </div>
        </div>
        <div class="caixa3_notificacao">
            <h6 class="tempo_menssagem_notificacao"><small>6 d</small> <br>
                <img src="/assets/imagens/icone_novo_feed2.png" class="icone_menssagens_notificacoes">
            </h6>
        </div>
        </a>
    </div>
</div>