<div id="corpo_gerenciar_rede" class="border">
    <div id="gerenciar_minha_rede">
        <div id="caixa_gerenciar_minha_rede">
            <h6 id="plv_gerrenciar_rede"><small>Gerenciar minha rede</small></h6>
        </div>
        <div id="caixa_emojins_minha_rede">
            <div class="caixa_emojis_rede">
                <a routerLink="/Minha_Rede">
                    <div class="caixa1_emojis_rede">
                        <img src="/assets/imagens/icone/rede01.png" class="icone_minha_rede">
                    </div>
                    <div class="caixa2_emojis_rede">
                        <h6 class="pvl_categoria_minha_rede"><small>Conexões</small></h6>
                    </div>
                </a>
            </div>
            <div class="caixa_emojis_rede">
                <a routerLink="/Contatos-Rede">
                    <div class="caixa1_emojis_rede">
                        <img src="/assets/imagens/icone/icone02-rede.png" class="icone_minha_rede">
                    </div>
                    <div class="caixa2_emojis_rede">
                        <h6 class="pvl_categoria_minha_rede"><small>Contatos</small></h6>
                    </div>
                </a>
            </div>
            <div class="caixa_emojis_rede">
                <a routerLink="/Pessoas-Rede">
                    <div class="caixa1_emojis_rede">
                        <img src="/assets/imagens/icone/icone03-rede.png" class="icone_minha_rede">
                    </div>
                    <div class="caixa2_emojis_rede">
                        <h6 class="pvl_categoria_minha_rede"><small>Pessoas que eu sigo</small></h6>
                    </div>
                </a>
            </div>
            <div class="caixa_emojis_rede">
                <a routerLink="/Eventos-Rede">
                    <div class="caixa1_emojis_rede">
                        <img src="/assets/imagens/icone/icone04-rede.png" class="icone_minha_rede">
                    </div>
                    <div class="caixa2_emojis_rede">
                        <h6 class="pvl_categoria_minha_rede"><small>Eventos</small></h6>
                    </div>
                </a>
            </div>
            <div class="caixa_emojis_rede">
                <a routerLink="/Pages-Rede">
                    <div class="caixa1_emojis_rede">
                        <img src="/assets/imagens/icone/icone05-rede.png" class="icone_minha_rede">
                    </div>
                    <div class="caixa2_emojis_rede">
                        <h6 class="pvl_categoria_minha_rede"><small>Pages</small></h6>
                    </div>
                </a>
            </div>
            <div class="caixa_emojis_rede">
                <a routerLink="/Newsletters-Rede">
                    <div class="caixa1_emojis_rede">
                        <img src="/assets/imagens/icone/icone06-rede.png" class="icone_minha_rede">
                    </div>
                    <div class="caixa2_emojis_rede">
                        <h6 class="pvl_categoria_minha_rede"><small>Newsletters</small></h6>
                    </div>
                </a>
            </div>
            <div class="caixa_emojis_rede">
                <a routerLink="/Hashtags-Rede">
                    <div class="caixa1_emojis_rede">
                        <img src="/assets/imagens/icone/icone07-rede.png" class="icone_minha_rede">
                    </div>
                    <div class="caixa2_emojis_rede">
                        <h6 class="pvl_categoria_minha_rede"><small>Hashtags</small></h6>
                    </div>
                </a>
            </div>
            <div class="caixa_emojis_rede">
                <span>
                    <h6 id="plv_exibir_menos">Exibir menos</h6>
                    <img src="/assets/imagens/icone/icone08_rede.png" id="icone_exibir_menos_rede">
                </span>
            </div>
        </div>
    </div>
</div>