<div id="atalhos_corpo" class="border">
    <div id="itens_atalhos" class="border-bottom">
        <div id="atalhos1">
            <a routerLink="/Pessoas-Rede">
                <h6 id="pvl_grupos" class="btn-link"><small>Grupos</small></h6>
            </a>
            <a routerLink="/Eventos-Rede">
                <h6 id="pvl_eventos" class="btn-link"><small>Eventos</small>
                </h6>
            </a>
            <a routerLink="/Hashtags-Rede">
                <h6 id="pvl_hashyahs" class="btn-link"><small>Hashtags seguidas</small></h6>
            </a>
        </div>
        <div id="atalhos2">
            <a href="#"><img src="/assets/imagens/icone/icon_atalho.png" id="icon_atalho" class="rounded-circle"></a>
        </div>
    </div>
    <a routerLink="/Minha_Rede">
        <div id="descubra_mais">
            <h6 id="pvl_descubra_mais"><small>Descubra mais</small></h6>
        </div>
    </a>
</div>