<div id="corpo_base_perfil_vaga2">
    <div id="caixa_base_perfil_vaga2">
        <div id="caixa1_base_perfil_vaga2">
            <h6 id="plv_vaga2_base_perfil"><small>vagas com base no seu perfil</small></h6>
        </div>
        <div id="caixa2_base_perfil_vaga2">
            <div id="todo_recomentacao">
                <div class="recomendacao1"><img src="/assets/imagens/foto4_empresa_vaga.png"
                        class="foto_empresa1_vaga2">
                </div>
                <div class="recomendacao2">
                    <div class="caixa_txt_recomendacao_vaga2">
                        <h6 class="txt_descricao_vaga2">Estágio em Tecnologia<br></h6>
                    </div>
                    <div class="caixa_subtext_recomendacao_vaga2">
                        <small class="subtxt_descricao_vaga2">CIEE - Centro de Integração Empresa-Escola<br>
                            São Paulo, Brasil (Remoto)</small>
                    </div>
                    <div class="caixa_tempo_anuncio_vaga2">
                        <small class="tempo_recomendacao_vaga2">Há 1 hora</small>
                    </div>
                </div>
            </div>


            <div id="todo_recomentacao">
                <div class="recomendacao1"><img src="/assets/imagens/foto3_empresa_vaga.png" class="foto_empresa1_vaga2">
                </div>
                <div class="recomendacao2">
                    <div class="caixa_txt_recomendacao_vaga2">
                        <h6 class="txt_descricao_vaga2">Progrmador Full Stack<br></h6>
                    </div>
                    <div class="caixa_subtext_recomendacao_vaga2">
                        <small class="subtxt_descricao_vaga2">Shopping.com.br<br>
                            São Paulo (Remoto)</small>
                    </div>
                    <div class="caixa_tempo_anuncio_vaga2">
                        <small class="tempo_recomendacao_vaga2">Há 1 hora</small>
                    </div>
                </div>
            </div>

            <div id="todo_recomentacao">
                <div class="recomendacao1"><img src="/assets/imagens/foto2_empresa_vaga.png"
                        class="foto_empresa1_vaga2">
                </div>
                <div class="recomendacao2">
                    <div class="caixa_txt_recomendacao_vaga2">
                        <h6 class="txt_descricao_vaga2">Estágio editor de videos<br></h6>
                    </div>
                    <div class="caixa_subtext_recomendacao_vaga2">
                        <small class="subtxt_descricao_vaga2">GeekHuther<br>
                            São Paulo, (Remoto)</small>
                    </div>
                    <div class="caixa_tempo_anuncio_vaga2">
                        <small class="tempo_recomendacao_vaga2">Há 1 hora</small>
                    </div>
                </div>
            </div>



           <div id="todo_recomentacao">
                <div class="recomendacao1"><img src="/assets/imagens/foto1_empresa_vaga.png"
                        class="foto_empresa1_vaga2">
                </div>
                <div class="recomendacao2">
                    <div class="caixa_txt_recomendacao_vaga2">
                        <h6 class="txt_descricao_vaga2">Desevolverdor Softwarer<br></h6>
                    </div>
                    <div class="caixa_subtext_recomendacao_vaga2">
                        <small class="subtxt_descricao_vaga2">Revelo Brasil<br>
                            Santos, Brasil (Remoto)</small>
                    </div>
                    <div class="caixa_tempo_anuncio_vaga2">
                        <small class="tempo_recomendacao_vaga2">Há 2 hora</small>
                    </div>
                </div>
            </div>


            <div id="todo_recomentacao">
                <div class="recomendacao1"><img src="/assets/imagens/foto4_empresa_vaga.png"
                        class="foto_empresa1_vaga2">
                </div>
                <div class="recomendacao2">
                    <div class="caixa_txt_recomendacao_vaga2">
                        <h6 class="txt_descricao_vaga2">Estágio em Front-end<br></h6>
                    </div>
                    <div class="caixa_subtext_recomendacao_vaga2">
                        <small class="subtxt_descricao_vaga2">CIEE - Centro de Integração Empresa-Escola<br>
                            São Paulo, Brasil (Remoto)</small>
                    </div>
                    <div class="caixa_tempo_anuncio_vaga2">
                        <small class="tempo_recomendacao_vaga2">Há 4 hora</small>
                    </div>
                </div>
            </div>

            <div id="todo_recomentacao">
                <div class="recomendacao1"><img src="/assets/imagens/foto1_empresa_vaga.png"
                        class="foto_empresa1_vaga2">
                </div>
                <div class="recomendacao2">
                    <div class="caixa_txt_recomendacao_vaga2">
                        <h6 class="txt_descricao_vaga2">Sistema de Informação<br></h6>
                    </div>
                    <div class="caixa_subtext_recomendacao_vaga2">
                        <small class="subtxt_descricao_vaga2">Revelo Brasil<br>
                            Praia Grande, Brasil (Remoto)</small>
                    </div>
                    <div class="caixa_tempo_anuncio_vaga2">
                        <small class="tempo_recomendacao_vaga2">Há 1 mês</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>