<div id="corpo_feed1" class="border">
    <div id="perfil1_post">
        <div id="post1_feed">
            <img src="/assets/imagens/posts/foto_perfil_post1.png" id="foto_perfil_post1">
            <span id="nome_perfil1_post"><small><b>Connectly.ai</b><br>
                    <small id="subdescricao_post1">356 seguidores<br>
                        Patrocinado</small></small></span>
        </div>
        <div id="post2_feed">
            <img src="/assets/imagens/icone/icone_novo_feed2.png" id="icone_post1">
        </div>
    </div>
    <div id="descriacao_post1">
        <div id="descricao01_post1">
            <span id="plv_descriacao_post1"><small> Uma empresa do porte da sua precisa se comunicar bem e vender pelo
                    <br>WhatsApp</small></span>
        </div>
        <div id="descricao2_post1">
            <span id="plv_ver_mais_post1"><small>...ver mais</small></span>
        </div>
    </div>
    <img src="/assets/imagens/posts/post01.png" id="post1_feed1">
    <div id="teste_post1">
        <div id="teste1_post1">
            <span>
                <h6 id="plv_teste_post01">Faça um teste agora.<br><small
                        id="plv_subdescricao_teste_post1">pt-br.connectly.ai</small></h6>
            </span>
        </div>
        <div id="teste02_post1">
            <div id="btn_saiba_mais_post1">
                <span id="plv_saiba_mais_post1">
                    <h6>Saiba mais</h6>
                </span>
            </div>
        </div>
    </div>
    <div id="emojins_post1">
        <div id="barra_emojins_post1">
            <li>
                <div id="caixa_emoji1_post1">
                    <img src="/assets/imagens/icone/emoji_gostei.png" id="emoji_gostar_post1"><span>
                        <h6 id="plv_emoji01_post1">Gostei</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_emoji2_post1">
                    <img src="/assets/imagens/icone/emoji_comentar.png" id="emoji_comentar_post1"><span>
                        <h6 id="plv_emoji2_post1">Comentar</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_emoji3_post1">
                    <img src="/assets/imagens/icone/emoji_compartilhar.png" id="emoji_compartilhar_post1">
                    <span>
                        <h6 id="plv_emoji3_post1">Compartilhar</h6>
                    </span>
                </div>
            </li>
            <li>
                <div id="caixa_emiji4_post1">
                    <img src="/assets/imagens/icone/emoji_enviar.png" id="emoji_enviar_post1">
                    <span>
                        <h6 id="plv_emoji4_post1">Enviar</h6>
                    </span>
                </div>
            </li>
        </div>
        <div id="barra_comentario_post1">
            <input type="text" class="form-control" placeholder="Seja a primera pessoa a comentar"
                id="plv_comentar_post1">
        </div>
    </div>

</div>