<div class="cabeçalho">
    <div class="row" id="barra_branca">
        <div id="espaço1">1</div>
        <div id="espaço2">
            <div class="row">
                <a routerLink="/Home"><img src="../../../assets/imagens/icone/logo01.png" id="img_logo"></a>
                <img src="../../../assets/imagens/icone/lupa02.png" id="lupa">
                <input id="barra_pesquisa" class="form-control" placeholder="Pesquisar">
            </div>
        </div>
        <div id="espaço3">
            <ul>
                <a routerLink="/Experimente-Premium">
                    <li id="menu_premium">
                        <h6 id="pv_premium" class="btn-link"><small>Experimente Premium <br>grátis</small></h6>
                    </li>
                </a>

                <li id="menu_solucao" class="border-left">
                    <img src="assets/imagens/icone/solucoes01.png" id="icon_solucoes">
                    <a routerLink="/Soluções">
                        <h6 id="pv_solucao"><small>Soluções <img src="assets/imagens/icone/seta_solucao.png" id="seta_solucao"></small></h6>
                    </a>
                </li>
                <a routerLink="/Eu">
                    <li id="eu">
                        <img src="/assets/imagens/pessoas/{{fotopessoa}}" id="icon_eu">
                        <h6 id="pv_eu"><small>Eu <img src="assets/imagens/icone/seta_solucao.png" id="seta_eu"></small></h6>
                    </li>
                </a>
                <a routerLink="/Notificacoes">
                    <li id="menu_notificaçao">
                        <img src="assets/imagens/icone/sino01.png" id="icon_sino">
                        <h6 id="pv_sino"><small>Notificacões</small></h6>
                    </li>
                </a>
                <a routerLink="/Menssagens">
                    <li id="menu_menssagens">
                        <img src="assets/imagens/icone/menssagem01.png" id="icon_menssagens">
                        <h6 id="pv_menssagens"><small>Mensagens</small></h6>
                    </li>
                </a>
                <a routerLink="/Vaga">
                    <li id="menu_vaga">
                        <img src="assets/imagens/icone/vaga01.png" id="icon_vaga">
                        <h6 id="pv_vaga"><small>Vagas</small></h6>
                    </li>
                </a>
                <a routerLink="/Minha_Rede">
                    <li id="menu_rede">
                        <img src="assets/imagens/icone/rede01.png" id="icon_rede">
                        <h6 id="pv_rede"><small>Minha rede</small></h6>
                    </li>
                </a>
                <a routerLink="/Home">
                    <li id="menu_inicio">
                        <img src="assets/imagens/icone/men01.png" id="icon_menu_inicio">
                        <h6 id="pv_menu_inicio"><small><small>Início</small></small>
                        </h6>
                    </li>
                </a>
            </ul>
        </div>
        <div id="espaço4"></div>
    </div>
</div>