<div id="corpo_cadastro5">
    <div id="caixa_cabeçalho2_cadastro5">
        <div id="caixa_imagem_cadastro5">
            <img src="/assets/imagens/icone_cadastro1.png" id="icone_cadastro5">
        </div>
        <h2 id="txt_cadastro5"><small>Seu perfil ajuda você a descobrir novas pessoas e <br> oportunidades</small></h2>
    </div>
    <div id="caixa_corpo_cadastro5">
        <div id="caixa_cadastro5">
            <div id="caixa_inputs_cadastro5">
                <div class="caixa_input_cadastro5">
                    <h6 id="pvl_nome_cadastro5"><small>Instituição de ensino *</small></h6>
                    <input type="email" class="form-control" class="input_cadastro5">

                    <h6 id="pvl_nome_cadastro5"><small>Diploma *</small></h6>
                    <input type="email" class="form-control" class="input_cadastro5">

                    <h6 id="pvl_nome_cadastro5"><small>Especialização *</small></h6>
                    <input type="email" class="form-control" class="input_cadastro5">

                    <div id="caixa_tempo_experiencia_cadastro5">
                        <div id="caixa_select_cadastro5">
                            <h6 id="plv_ano_experiencia_cadastro5"><small>Ano de início *</small></h6>
                            <select  id="select1_experiencia_cadastro5">
                                <option selected>_</option>
                                <option value="1">2017</option>
                                <option value="2">2018</option>
                                <option value="3">2019</option>
                            </select>
                        </div>
                        <div id="caixa_select_cadastro5">
                            <h6 id="plv2_ano_experiencia_cadastro5"><small>Ano de término *</small></h6>
                            <select  id="select2_experiencia_cadastro5">
                                <option selected>_</option>
                                <option value="1">2020</option>
                                <option value="2">2021</option>
                                <option value="3">2022</option>
                            </select>
                        </div>
                    </div>
                    <div id="caixa_confirmacao_idade_cadastro5">
                        <div id="confimacao_idade_cadastro5">
                            <div id="confimacao1">
                                <h6 id="plv_idade_minima_cadastro5"><small>Sou maior de 16</small></h6>
                            </div>
                            <div id="confimacao2">
                                <h6 id="plv_idade_minima_cadastro5"><small>Sim</small>
                                <input class="form-check-input" type="radio" name="gridRadios" value="opcao2" id="input_confirmacao"></h6>
                            </div>
                        </div>
                    </div>
                    <div id="caixa_botao_continuar">
                        <a routerLink="/Home">
                            <div id="botao_continuar_cadastro5">
                                <h6 id="plv_continuar_cadastro5">Aceitar & criar</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>