<div id="corpo_cadastro3">
    <div id="caixa_cabeçalho2_cadastro3">
        <div id="caixa_imagem_cadastro3">
            <img src="/assets/imagens/icone_cadastro1.png" id="icone_cadastro3">
        </div>
        <h2 id="txt_cadastro3"><small>Olá, Carlos!</small></h2>
        <h6 id="subtxt_cadastro3"><small>Crie seu perfil para conectar com profissional que têm os mesmos interesses que
                <br> você.</small></h6>
    </div>
    <div id="caixa_corpo_cadastro3">
        <div id="caixa_cadastro3">
            <div id="caixa_inputs_cadastro3">
                <div class="caixa_input_cadastro3">
                    <h6 id="pvl_nome_cadastro3"><small>País/Região *</small></h6>
                    <input type="email" class="form-control" class="input_cadastro3">
                </div>
                <div class="caixa_input_cadastro3">
                    <h6 id="pvl_sobrenome_cadastro3"><small>Cidade/Distrito *</small></h6>
                    <input type="email" class="form-control" class="input_cadastro3">
                </div>
                <div id="caixa_botao_continuar">
                    <a routerLink="/Dados2">
                        <div id="botao_continuar_cadastro3">
                            <a routerLink="/Dados3">
                                <h6 id="plv_continuar_cadastro3">AVANÇAR</h6>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>