<div id="corpo_cadastro2">
    <div id="caixa_cabeçalho2_cadastro2">
        <img src="/assets/imagens/icone_cadastro1.png" id="icone_cadastro2">
        <h1 id="txt_cadastro2"><small>Aproveite sua vida profissional ao máximo</small></h1>
    </div>
    <div id="caixa_corpo_cadastro2">
        <div id="caixa_cadastro2">
            <div id="caixa_inputs_cadastro2">
                <div class="caixa_input_cadastro2">
                    <h6 id="pvl_nome_cadastro2"><small>Nome</small></h6>
                    <input type="email" class="form-control" class="input_cadastro2">
                </div>
                <div class="caixa_input_cadastro2">
                    <h6 id="pvl_sobrenome_cadastro2"><small>Sobrenome</small></h6>
                    <input type="email" class="form-control" class="input_cadastro2">
                </div>
                <div id="caixa_botao_continuar">
                    <a routerLink="/Dados2">
                        <div id="botao_continuar_cadastro2">
                            <h6 id="plv_continuar_cadastro2">Continuar</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="rodape2">
        <ul id="menu_inferior">
            <li><img src="/assets/imagens/icon_link.png" id='icon_link'>© 2022</li>
            <li class="btn-link">Contato do Usuário</li>
            <li class="btn-link">Politica de Privacidade do Linkedin</li>
            <li class="btn-link">Diretrizes da Comunidade</li>
            <li class=" btn-link">Politica de Cookies</li>
            <li class=" btn-link">Politica de Direitos Autorais</li>
            <li class="btn-link">Enviar fedlback</li>
        </ul>
    </div>
</div>