<div id="corpo_novo_feed">
    <div id="adicionar_feed" class="border">
        <div id="barra_novo_feed" class="border-bottom">
            <div id="barra1_feed">
                <h6 id="plv_adincione_feed"><small>Adicione ao seu feed</small></h6>
            </div>
            <div id="barra2_feed">
                <img src="/assets/imagens/icone/icone_novo_feed2.png" id="icone_novo_feed2">
            </div>
        </div>
        <div id="perfis_novo_feed">
            <div id="perfil1_novo_feed">
                <div id="parte1_perfil1">
                    <img src="/assets/perfis/avats/avatar-1.jpg" id="foto_perfil1_feed" class="rounded-circle">
                    <span id="perfil1_descricao_feed"><small><b>Milena Branques *</b> 3° e +<br>
                            <small id="subdescricao_perfil1_feed">Consultora de RHI Mentora I Recruiterl Recursos
                                Humanos I Recrutamos</small>
                        </small></span>
                </div>
                <div id="parte2_perfil1">
                    <img src="/assets/imagens/icone/icone_sequir.png" id="icone_seguir_feed">
                    <span id="plv_seguir_feed">
                        <h6>Seguir</h6>
                    </span>
                </div>
            </div>
            <div id="perfil2_novo_feed">
                <div id="parte1_perfil2">
                    <img src="/assets/perfis/avats/avatar-5.jpg" id="foto_perfil2_feed" class="rounded-circle">
                    <span id="perfil2_descricao_feed"><small><b>Guilherme Benchimol </b> <img
                                src="/assets/imagens/icone/icone_perfil2_feed.png"> 3° e +<br>
                            <small id="subdescricao_perfil1_feed">Fundador e Presindente Executivo do Conselho de
                                Administração da</small>
                        </small></span>
                </div>
                <div id="parte2_perfil1">
                    <img src="/assets/imagens/icone/icone_sequir.png" id="icone_seguir_feed">
                    <span id="plv_seguir_feed">
                        <h6>Seguir</h6>
                    </span>
                </div>
            </div>
            <div id="perfil3_novo_feed">
                <div id="parte1_perfil3">
                    <img src="/assets/perfis/avats/avatar-1.jpg" id="foto_perfil3_feed" class="rounded-circle">
                    <span id="perfil3_descricao_feed"><small><b>Andréia Grego*</b> 3° e +<br>
                            <small id="subdescricao_perfil3_feed">Especialista em RH e carreira I LinkedIn Creator I
                                Influenciatora de varios </small>
                        </small></span>
                </div>
                <div id="parte2_perfil1">
                    <img src="/assets/imagens/icone/icone_sequir.png" id="icone_seguir_feed">
                    <span id="plv_seguir_feed">
                        <h6>Seguir</h6>
                    </span>
                </div>
            </div>
            <div id="mais_feed">
                <h6 id="plv_mais_feed">Ver mais</h6>
            </div>
        </div>
    </div>
</div>