<app-cabecalho></app-cabecalho>
<div id="pages_rede">
    <div id="caixa_pages1_rede">
        <div id="caixa1_pages_rede" class="shadow">
            <h6 id="pvl_siga_novos_pages_rede">Siga novos pontos de vista</h6>
            <h6 id="pvl_siga_novos_pages_rede">0 seguindo</h6>
            <h6 id="pvl_siga_novos_pages_rede">0 seguidores</h6>
        </div>
    </div>
    <div id="caixa_pages2_rede">
        <div id="caixa2_pages_rede">
            <div id="filtro1_pages_rede">
                <h6 id="plv_filtrar_pages_rede"><small>Filtrar por <b>Empresas</b></small></h6>
            </div>
            <div id="filtro2_pages_rede">
                <img src="/assets/imagens/icone/icone_sair2.png" id="icone1_pages_rede">
                <img src="/assets/imagens/icone/icone_pessoas_red.png" id="icone2_pages_rede">
            </div>
            <div id="caixa_lista_seguidores_pages_rede">
                <div id="caixa_lista_pages_rede">
                    <div id="caixa1_lista_pages_rede">
                        <h6 id="plv_nao_seguindo_pages_rede"><small>Parece que você ainda não está seguindo ninguém.</small></h6>
                    </div>
                    <div id="caixa2_lista_pages_rede">
                        <img src="/assets/imagens/posts/foto_pessoas_rede.png" id="foto_pages_rede">
                    </div>
                    <div id="caixa3_lista_pages_rede">
                        <div id="botao_seguir_pontos_vista_pages_rede">
                            <h6 id="pvl_seguir_botao_pages_rede">Siga novos pontos de vista</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
