<div id="corpo_menu_vaga">
    <div id="menu_vaga">
        <div class="caixa_sobra_vaga"></div>
        <div id="vaga_caixa1">
            <a routerLink="/Minhas-Vagas">
                <div class="vaga1"><img src="/assets/imagens/icone1_vaga.png" id="icone1_vaga"></div>
                <div class="vaga2">
                    <h6 id="plv_minhas_vaga">Minhas vagas</h6>
                </div>
            </a>
        </div>

        <div id="vaga_caixa2">
            <a routerLink="/Alerta-Vaga">
                <div class="vaga1"><img src="/assets/imagens/icone2_vaga.png" id="icone2_vaga"></div>
                <div class="vaga2">
                    <h6 id="plv_alerta_vaga">Alertas de vaga</h6>
                </div>
            </a>
        </div>


        <div id="vaga_caixa3">
            <a href="https://www.linkedin.com/salary/not-ready">
                <div class="vaga1"><img src="/assets/imagens/icone3_vaga.png" id="icone3_vaga"></div>
                <div class="vaga2">
                    <h6 id="plv_salarios_vaga">Salário</h6>
                </div>
            </a>
        </div>


        <div id="vaga_caixa4">
            <a routerLink="/Avalições-Vaga">
                <div class="vaga1"><img src="/assets/imagens/icone4_vaga.png" id="icone4_vaga"></div>
                <div class="vaga2">
                    <h6 id="plv_avaliacao_vaga">Avalivações de competências</h6>
                </div>
            </a>
        </div>

        <div id="vaga_caixa5">
            <a href="https://www.linkedin.com/learning/subscription/career-guidance-hub">
                <div class="vaga1"><img src="/assets/imagens/icone5_vaga.png" id="icone5_vaga"></div>
                <div class="vaga2">
                    <h6 id="plv_orientacao_vaga">Orientação do Job Seeker</h6>
                </div>
            </a>
        </div>

        <div id="vaga_caixa6">
            <a routerLink="/Configurações-Vaga">
                <div class="vaga1"><img src="/assets/imagens/icone6_vaga.png" id="icone6_vaga"></div>
                <div class="vaga2">
                    <h6 id="plv_configuracoes_vaga">Configurações de candidatura</h6>
                </div>
            </a>
        </div>

    </div>
    <a href="https://www.linkedin.com/talent/post-a-job?trk=flagship3_job_home">
        <div id="caixa_anunciar_vaga">
            <div id="anunciar1_vaga">
                <img src="/assets/imagens/icone_adicionar_vaga.png" id="icone_adicionar_vaga">
            </div>
            <a href="https://www.linkedin.com/uas/login-cap?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fmjobs%2FjobPosting%2FlearnMore%3Ftrk%3Dflagship3_job_home&source_app=tsweb&trk=tsweb_signin">
                <div id="anunciar2_vaga">
                    <h6 id="plv_adicionar_vaga">Anunciar vaga de graça</h6>
                </div>
            </a>
        </div>
    </a>
</div>