<app-cabecalho></app-cabecalho>
<div id="newsletters_rede">
    <div id="newsletters1_rede">
        <div id="caixa_newsletters_rede">
            <div id="caixa1_evento1_rede">
                <div id="caixa01_newsletters">
                    <h5 id="pvl_newsletters_rede"><small>Newsletters</small></h5>
                </div>
                <div id="caixa02_newsletters">
                    <h6 id="plv_criar_newsletters_rede">Criar</h6>
                </div>
            </div>
            <div id="caixa2_newsletters1_rede">
                <div id="caixa_foto_newsletters_rede">
                    <img src="/assets/imagens/posts/foto_eventos_rede.png" id="foto_newsletters_rede">
                </div>
                <div id="caixa_txt_newsletters_rede">
                    <h2><small>Sem Newsletters</small></h2>
                    <h6><small id="sub_txt_newsletters_rede">Você ainda não participou de nenhum <br>evento</small></h6>
                </div>
            </div>
        </div>
    </div>
    <div id="newsletters2_rede">
        <app-anuncio-notificacoes></app-anuncio-notificacoes>
        <app-linkes></app-linkes>
    </div>
</div>