<div id="corpo_linkes">
    <ul id="menu_inferior2">
        <li class="btn-link mt-3 ml-1">Sobre</li>
        <li class="btn-link">Acessibilidade</li>
        <li class="btn-link">Central de Ajuda</li>
        <li class=" btn-link ml-5">Termos e Privaciadade <img src="/assets/imagens/icone/icone_exibir.png"></li><br>
        <li class="btn-link ml-3">Preferência de anúncio</li>
        <li class="btn-link"> Publicidade</li>
        <li class="btn-link ml-5"> Serviços empresarias<img src="/assets/imagens/icone/icone_exibir.png"></li>
        <li class="btn-link ml-3"> Baixeo aplicativo do LinkedIn</li>
        <li class="btn-link ml-2"> Mais</li>
        <li class="btn-link"><img src="/assets/imagens/icone/icone_links.png" id="icone_linkes"><span id="descricao_linkes"> LinkedIn Corporation @ 2022</span></li>
    </ul>
</div>